Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

comment
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

change guc to target_segment_count
  pg_search/src/gucs.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix tests
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixes from merge.
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/options.rs
  pg_search/src/schema/mod.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix tersts
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

more unit tests
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clamp max workers to 512
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

improve logs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

create a more evenly distributed index
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix magic number
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

regression tests
  pg_search/src/postgres/build_parallel.rs
  pg_search/tests/pg_regress/common/parallel_build_large_cleanup.sql
  pg_search/tests/pg_regress/common/parallel_build_large_setup.sql
  pg_search/tests/pg_regress/common/parallel_build_small_cleanup.sql
  pg_search/tests/pg_regress/common/parallel_build_small_setup.sql
  pg_search/tests/pg_regress/expected/parallel_build_empty.out
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/expected/parallel_build_small.out
  pg_search/tests/pg_regress/sql/parallel_build_empty.sql
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
  pg_search/tests/pg_regress/sql/parallel_build_small.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

newline
  pg_search/tests/pg_regress/common/parallel_build_small_setup.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

document target segment count
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/segment_size.mdx
Owners: @rebasedming, @stuhood

fix race condition with nlaunched/segment pool
  pg_search/src/postgres/build_parallel.rs
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

bring back searchbar
  docs/docs.json
  docs/override.js
  docs/style.css
Owners: @rebasedming, @stuhood

revert theme
  docs/docs.json
Owners: @rebasedming, @stuhood

docs: bring back search bar (#2690)
  docs/override.js
  docs/style.css
Owners: @rebasedming, @stuhood

sort by ctid
  Cargo.lock
  Cargo.toml
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

assert num docs in index
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

newline
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

stabilize regression in CI
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

use willow theme
  docs/docs.json
  docs/style.css
Owners: @rebasedming, @stuhood

docs: use willow theme (#2692)
  docs/docs.json
  docs/style.css
Owners: @rebasedming, @stuhood

Clarify message for enterprise
  docs/deploy/enterprise.mdx
Owners: @rebasedming, @stuhood

update tantivy rev
  Cargo.lock
  Cargo.toml
Owners: none

remove tempstore
  Cargo.lock
  Cargo.toml
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/storage/block.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

disable store for segmentwriter
  Cargo.lock
  Cargo.toml
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix unit test
  pg_search/src/index/directory/mvcc.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add footnote
  docs/deploy/enterprise.mdx
Owners: @rebasedming, @stuhood

Update enterprise.mdx
  docs/deploy/enterprise.mdx
Owners: @rebasedming, @stuhood

docs: Clarify message for enterprise (#2693)
  docs/deploy/enterprise.mdx
Owners: @rebasedming, @stuhood

Fix lint
  docs/documentation/indexing/create_index.mdx
Owners: @rebasedming, @stuhood

docs: Fix broken link (#2694)
  docs/documentation/indexing/create_index.mdx
Owners: @rebasedming, @stuhood

log max doc
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Small cleanup of outdated files
  .github/dependabot.yml
  .gitignore
  install.sh
Owners: @philippemnoel, @rebasedming

chore: Small cleanup of outdated files (#2696)
  .github/dependabot.yml
  .gitignore
  install.sh
Owners: @philippemnoel, @rebasedming

cap target segment count to 1024, dont GC if no merge happened
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: sort segments by num docs for parallel workers
  pg_search/src/postgres/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add a comment
  pg_search/src/postgres/customscan/pdbscan/parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti
