Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

perf: Optimize `TermSet` for very large sets of terms. (#3412)
  Cargo.lock
  Cargo.toml
  pg_search/src/api/builder_fns/pdb.rs
  pg_search/src/api/mod.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/pdb_query.rs
  pg_search/tests/pg_regress/expected/term_set_agg.out
Owners: @rebasedming, @stuhood, @mdashti

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - TPS (customBiggerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 795e50564ec8c21a87e8a51d4def3fe4676cef4a
  stressgres/data.js
Owners: none

perf: Optimize `TermSet` for very large sets of terms. (#3412)
  Cargo.lock
  Cargo.toml
  pg_search/src/api/builder_fns/pdb.rs
  pg_search/src/api/mod.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/pdb_query.rs
  pg_search/tests/pg_regress/expected/term_set_agg.out
Owners: @rebasedming, @stuhood, @mdashti

Revert "ci: Don't persist credentials in cherry-pick action (#3408)"
  .github/workflows/cherry-pick.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Use the `PARADEDB_BOT_GITHUB_TOKEN`
  .github/workflows/cherry-pick.yml
Owners: @philippemnoel, @rebasedming, @stuhood

fix: Fix cherry-pick job permissions (#3421)
  .github/workflows/cherry-pick.yml
Owners: @philippemnoel, @rebasedming, @stuhood

perf: Optimize `TermSet` for very large sets of terms. (#3412) (#3419)
  Cargo.lock
  Cargo.toml
  pg_search/src/api/builder_fns/pdb.rs
  pg_search/src/api/mod.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/pdb_query.rs
  pg_search/tests/pg_regress/expected/term_set_agg.out
Owners: @rebasedming, @stuhood, @mdashti

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  stressgres/data.js
Owners: none

Prepare 0.18.14.
  docs/changelog/0.18.14.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.18.13--0.18.14.sql
  pg_search/sql/pg_search--0.18.14--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0475e6e577d5c62aec3e88a4eb250a617b3d62dd
  stressgres/data.js
Owners: none

chore: Prepare 0.18.14. (#3423)
  docs/changelog/0.18.14.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.18.13--0.18.14.sql
  pg_search/sql/pg_search--0.18.14--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

chore: Prepare 0.18.14. (#3423)
  docs/changelog/0.18.14.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.18.13--0.18.14.sql
  pg_search/sql/pg_search--0.18.14--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

And bump to 0.18.14.
  Cargo.lock
  Cargo.toml
Owners: none

Back down to `0.19.2`
  Cargo.lock
  Cargo.toml
Owners: none

chore: Cherry-pick missing SQL upgrade scripts. (#3418)
  Cargo.lock
  Cargo.toml
  pg_search/sql/pg_search--0.18.11--0.18.12.sql
  pg_search/sql/pg_search--0.18.12--0.18.13.sql
  pg_search/sql/pg_search--0.18.13--0.19.0.sql
Owners: @rebasedming, @stuhood, @mdashti

perf: Optimize `TermSet` for very large sets of terms. (#3412)
  Cargo.lock
  Cargo.toml
  pg_search/src/api/builder_fns/pdb.rs
  pg_search/src/api/mod.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/pdb_query.rs
  pg_search/tests/pg_regress/expected/term_set_agg.out
Owners: @rebasedming, @stuhood, @mdashti

chore: Prepare 0.18.14. (#3423)
  docs/changelog/0.18.14.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.18.13--0.18.14.sql
  pg_search/sql/pg_search--0.18.14--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  stressgres/data.js
Owners: none

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood
