Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

Clean up logic, need to see how to test a dry-run
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Fix logic around gatekeeping access to secrets
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/test-pg_search-docker.yml
Owners: @philippemnoel, @rebasedming

Update logic for creating tag releases
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Fix concurrency groups logic
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

Add confirmation, add print for org member
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/test-pg_search-docker.yml
Owners: @philippemnoel, @rebasedming

Cleanup
  .github/workflows/publish-github-release.yml
  .github/workflows/test-pg_search-upgrade.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Add dry-run
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Fix the v tag so it's after dry-run to not be picked up by binaries
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Verify that the release is correctly specified
  .github/workflows/publish-github-release.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Update RELEASE.md
  RELEASE.md
Owners: none

Ready for review
  RELEASE.md
Owners: none

Fix formatting, remove no longer necessary block
  .github/workflows/publish-github-release.yml
  .github/workflows/test-pg_search-upgrade.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Update .github/workflows/publish-pg_search-pgxn.yml
  .github/workflows/publish-pg_search-pgxn.yml
Owners: @philippemnoel, @rebasedming

Update .github/workflows/publish-pg_search-macos.yml
  .github/workflows/publish-pg_search-macos.yml
Owners: @philippemnoel, @rebasedming

Update .github/workflows/publish-pg_search-debian.yml
  .github/workflows/publish-pg_search-debian.yml
Owners: @philippemnoel, @rebasedming

Update RELEASE.md
  RELEASE.md
Owners: none

Update .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-docker.yml
Owners: @philippemnoel, @rebasedming

Update .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-docker.yml
Owners: @philippemnoel, @rebasedming

Update .github/workflows/publish-pg_search-ubuntu.yml
  .github/workflows/publish-pg_search-ubuntu.yml
Owners: @philippemnoel, @rebasedming

Get rid of the variables
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Markdown
  RELEASE.md
Owners: none

Address Stu's feedback on publish-gh-release
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Update RELEASE.md
  RELEASE.md
Owners: none

Address Stu's feedback
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

Only mark latest if official stable release
  .github/workflows/publish-github-release.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Convert the default branch to
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/lint-rust.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search-upgrade.yml
  .github/workflows/test-pg_search.yml
  CONTRIBUTING.md
  RELEASE.md
  docs/deploy/ci/github-actions.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Handle missing references to dev
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/lint-rust.yml
  .github/workflows/publish-paradedb-docker.yml
  .github/workflows/publish-pg_search-rhel.yml
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search-upgrade.yml
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

More cleanup
  .github/workflows/publish-github-release.yml
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Fix benchmarks commit and other miscelleaneous
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Clarify rust post merge
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

Nit
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Add a check that releases from are minor releases
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

write RELEASE.md
  RELEASE.md
Owners: none

Rm lines
  RELEASE.md
Owners: none

Cleany
  RELEASE.md
Owners: none

feat: Update release process to follow a singular branch (#2721)
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/lint-rust.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/publish-paradedb-docker.yml
  .github/workflows/publish-pg_search-debian.yml
  .github/workflows/publish-pg_search-macos.yml
  .github/workflows/publish-pg_search-pgxn.yml
  .github/workflows/publish-pg_search-rhel.yml
  .github/workflows/publish-pg_search-ubuntu.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search-upgrade.yml
  .github/workflows/test-pg_search.yml
  CONTRIBUTING.md
  RELEASE.md
  docs/deploy/ci/github-actions.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Split out a module to be used by both the `aggregate` API method, and by the aggregate custom scan.
  pg_search/src/aggregate/mod.rs
  pg_search/src/api/aggregate.rs
  pg_search/src/lib.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Remove the `CustomScan::PrivateData: Default` bound, as it requires the `PrivateData` to start in an illegal state.
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/builders/custom_scan.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/path.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Move `qual_inspect` to a reusable location.
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/opexpr.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/score.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/customscan/pushdown.rs
  pg_search/src/postgres/customscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Adjust `CustomPathBuilder` and `CustomPathMethods` for multiple `CustomScan` implementations.
  Cargo.lock
  pg_search/Cargo.toml
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti
