Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

chore: Quiet down the proptests (#2750)
  tests/tests/fixtures/querygen/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: regress test to recreate a proptest failure
  pg_search/tests/pg_regress/expected/generated_subquery_proptest_failure.out
  pg_search/tests/pg_regress/sql/generated_subquery_proptest_failure.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Do not convert to external when extracting base relation quals.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2753.out
  pg_search/tests/pg_regress/sql/issue_2753.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add the `paradedb.enable_custom_scan_without_operator` to control whether the custom scan is used if our operator is not used.
  pg_search/src/gucs.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  tests/tests/custom_scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

added error message for paradedb.score() function
  ;
Owners: none

added error message for paradedb.score() function
  pg_search/src/postgres/customscan/pdbscan/projections/score.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Move to Eric and Stu's proposed release flow
  .github/workflows/publish-github-release.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Cleanup the RELEASE.md file
  RELEASE.md
Owners: none

Cleanup the staging logic
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/publish-pg_search-debian.yml
  .github/workflows/publish-pg_search-macos.yml
  .github/workflows/publish-pg_search-pgxn.yml
  .github/workflows/publish-pg_search-rhel.yml
  .github/workflows/publish-pg_search-ubuntu.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search-upgrade.yml
  .github/workflows/test-pg_search.yml
  benchmarks/src/micro_benchmarks/benchmark_data_setup.rs
  docs/deploy/ci/github-actions.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Update to one branch named dev
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search-upgrade.yml
  .github/workflows/test-pg_search.yml
  docs/deploy/ci/github-actions.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Undo unnecessary changes
  benchmarks/src/micro_benchmarks/benchmark_data_setup.rs
  docs/deploy/ci/github-actions.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix concurrency groups logic
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

Revert "optimize `SearchIndexReader::collect_segments()`"
  pg_search/src/index/reader/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix logic around gatekeeping access to secrets
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/test-pg_search-docker.yml
Owners: @philippemnoel, @rebasedming

Keep version upgrade check
  .github/workflows/test-pg_search-upgrade.yml
Owners: @philippemnoel, @rebasedming

fix: Do not convert vars to external on a base relation (#2754)
  pg_search/src/gucs.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2753.out
  pg_search/tests/pg_regress/sql/issue_2753.sql
  tests/tests/custom_scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: Revert "optimize `SearchIndexReader::collect_segments()`" (#2757)
  pg_search/src/index/reader/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Update logic for creating tag releases
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

0.16.2
  .github/stressgres/background-merge.toml
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.2.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.16.1--0.16.2.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

delete .toml
  .github/stressgres/background-merge.toml
Owners: @philippemnoel, @rebasedming

chore: Upgrade to `0.16.2` (#2760)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.2.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.16.1--0.16.2.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

Add confirmation, add print for org member
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/test-pg_search-docker.yml
Owners: @philippemnoel, @rebasedming

Clean up logic, need to see how to test a dry-run
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Add dry-run
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Fix the v tag so it's after dry-run to not be picked up by binaries
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

Verify that the release is correctly specified
  .github/workflows/publish-github-release.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Ready for review
  RELEASE.md
Owners: none

Cleanup
  .github/workflows/publish-github-release.yml
  .github/workflows/test-pg_search-upgrade.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Fix formatting, remove no longer necessary block
  .github/workflows/publish-github-release.yml
  .github/workflows/test-pg_search-upgrade.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Initial mostly-LLM-generated cut.
  pg_search/src/lib.rs
  pg_search/src/postgres/customscan/aggregatescan.rs
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
  pg_search/src/postgres/customscan/builders/custom_scan.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix `CustomPathMethods` for multiple `CustomScan` implementations.
  Cargo.lock
  pg_search/Cargo.toml
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/tests/pg_regress/expected/inet.out
  pg_search/tests/pg_regress/sql/inet.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Allow `CustomPathBuilder` to be used for multiple `CustomPath` creation hooks.
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Replace Aggrefs with FuncExprs while planning the custom scan.
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/builders/custom_scan.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/tests/pg_regress/expected/inet.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Filter Paths to those which represent simple `count(*)` queries on `bm25` indexed tables.
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/range_table.rs
  pg_search/src/postgres/mod.rs
  pg_search/tests/pg_regress/expected/mixedff_advanced_01_aggregation.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Remove the `CustomScan::PrivateData: Default` bound, as it requires the `PrivateData` to start in an illegal state.
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/builders/custom_scan.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/path.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Emit a tuple!
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/tests/pg_regress/expected/inet.out
  pg_search/tests/pg_regress/sql/inet.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Move `qual_inspect` to a reusable location.
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/opexpr.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/score.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/customscan/pushdown.rs
  pg_search/src/postgres/customscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add an AggregateType to determine what type of aggregate we will do.
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Extract quals.
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Split out a module to be used by both the `aggregate` API method, and by the aggregate custom scan.
  pg_search/src/aggregate/mod.rs
  pg_search/src/api/aggregate.rs
  pg_search/src/lib.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti
