Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

mlt docs, tests, fixes
  docs/docs.json
  docs/v2/query-builder/specialized/more_like_this.mdx
  pg_search/src/api/builder_fns/mlt.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/tests/pg_regress/expected/more_like_this.out
  pg_search/tests/pg_regress/sql/more_like_this.sql
  tokenizers/src/manager.rs
Owners: @philippemnoel, @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

fix tests
  tests/tests/documentation.rs
  tests/tests/query_json.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

upgrade script
  pg_search/sql/pg_search--0.18.11--0.19.0.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

upgrade script
  pg_search/sql/pg_search--0.18.11--0.19.0.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove mlt
  docs/docs.json
  docs/v2/query-builder/specialized/mlt.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

fix test
  pg_search/src/query/mod.rs
  tests/tests/query_json.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Improved planning
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Removed the redundant result_type_oid
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
  pg_search/tests/pg_regress/expected/topn-agg-facet.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

SImplified code.
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
  pg_search/src/postgres/var.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed the logic in convert_window_aggregate_filters
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
  pg_search/src/postgres/var.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
  pg_search/src/postgres/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Improved the expr_contains_any_operator impl
  pg_search/src/postgres/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Improved upgrade script.
  pg_search/sql/pg_search--0.18.11--0.19.0.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

broken links
  docs/v2/query-builder/overview.mdx
  docs/v2/sorting/boost.mdx
  docs/v2/tokenizers/multiple_per_field.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

docs: Document `const`, split out new `Sorting` section (#3330)
  docs/docs.json
  docs/v2/full-text/match.mdx
  docs/v2/full-text/phrase.mdx
  docs/v2/full-text/term_set.mdx
  docs/v2/query-builder/overview.mdx
  docs/v2/sorting/boost.mdx
  docs/v2/sorting/score.mdx
  docs/v2/sorting/topn.mdx
  docs/v2/tokenizers/multiple_per_field.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
