Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

always()
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

Let's use `AND` to combine conditions.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: `always()` print the Postgres logs in CI (#2657)
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

Renamed `join_snippet` to `join`
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Added a repro
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/sql/score_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Ignore named tuple stores in qual extraction to fix use with `pg_ivm` (#2643)
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/var.rs
  tests/tests/ivm.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: always do pushdowns when we can (#2639)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
  pg_search/tests/pg_regress/sql/mixedff_advanced_03_limit_topn.sql
  tests/tests/pushdown.rs
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: true Postgres parallel index builds (#2647)
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/overview.mdx
  pg_search/src/api/aggregate.rs
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/parallel_worker/builder.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/tests/pg_regress/expected/mixedff_advanced_06_score_function.out
  pg_search/tests/pg_regress/sql/mixedff_advanced_06_score_function.sql
  tests/tests/aborted_xact.rs
  tests/tests/custom_scan.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

perf: improve INSERT/UPDATE perf with `SerialIndexWriter`
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

also remove the paradedb.statement_parallelism GUC
  docs/documentation/configuration/write.mdx
  pg_search/src/gucs.rs
  tests/tests/aborted_xact.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

perf: improve INSERT/UPDATE perf with `SerialIndexWriter` (#2658)
  docs/documentation/configuration/write.mdx
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  tests/tests/aborted_xact.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

remove SearchFieldId
  pg_search/src/api/index.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/fast_fields_helper.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/document.rs
  pg_search/src/schema/mod.rs
  tests/tests/bm25_search.rs
  tokenizers/src/lib.rs
  tokenizers/src/manager.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix unit tests
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix range sorts
  pg_search/src/postgres/options.rs
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix SearchIndexOptions issues
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/search.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

index config errors line up
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/options.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

wrap searchindexoptions in struct
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

tests passing on rebase
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add license headers
  pg_search/src/schema/anyenum.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/range.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

unignore tests
  pg_search/src/postgres/options.rs
  tests/tests/bm25_search.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove unused function
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

rebase
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Clean up schema code (#2660)
  pg_search/src/api/index.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/fast_fields_helper.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/anyenum.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/document.rs
  pg_search/src/schema/mod.rs
  pg_search/src/schema/range.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
  tests/tests/bm25_search.rs
  tokenizers/src/lib.rs
  tokenizers/src/manager.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

compiles
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/linked_items.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

rebase
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/metadata.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add to fsm in bulk
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed JOIN support.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Updated test output.
  pg_search/tests/pg_regress/expected/score_join_predicates.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed JOIN support.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed the issue.
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/numeric.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Added more examples
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/sql/score_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

traverse fsm backwards
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
  pg_search/src/postgres/storage/metadata.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

partially revert "feat: always do pushdowns when we can (#2639)"
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed another issue with JOINs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/score_join_predicates.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: fixed missing snippets in join (#2655)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/snippet_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: should be able to construct a SearchField for 'ctid'
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/find_ctid.out
  pg_search/tests/pg_regress/sql/find_ctid.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix regression test and expected output
  pg_search/tests/pg_regress/expected/find_ctid.out
  pg_search/tests/pg_regress/sql/find_ctid.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: should be able to construct a `SearchField` for `ctid` (#2662)
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/find_ctid.out
  pg_search/tests/pg_regress/sql/find_ctid.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

compiles, wip
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/var.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
