Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

works
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add regression test
  pg_search/tests/pg_regress/common/snippet_json_basic_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_setup.sql
  pg_search/tests/pg_regress/expected/snippet_json_01_basic.out
  pg_search/tests/pg_regress/sql/snippet_json_01_basic.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

more regress
  pg_search/tests/pg_regress/common/snippet_json_advanced_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_advanced_setup.sql
  pg_search/tests/pg_regress/expected/snippet_json_02_advanced.out
  pg_search/tests/pg_regress/sql/snippet_json_02_advanced.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

address stu comments
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Renamed `uses_our_operator` to `uses_tantivy_to_query` and included more cases.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed handling special Qual::ExternalExpr
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Moved code.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Moved the query formulation to one place.
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/numeric.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Begin to incorporate the generic order-by from `tantivy`.
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Unify around `TopDocs::order_by`.
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Support snippet generation for JSON (#2663)
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/var.rs
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/common/snippet_json_advanced_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_advanced_setup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_setup.sql
  pg_search/tests/pg_regress/expected/snippet_json_01_basic.out
  pg_search/tests/pg_regress/expected/snippet_json_02_advanced.out
  pg_search/tests/pg_regress/sql/snippet_json_01_basic.sql
  pg_search/tests/pg_regress/sql/snippet_json_02_advanced.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

wip not fully working
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

works
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove channel directory
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/directory/mod.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/mod.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/mod.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

upstream tantivy
  Cargo.lock
  Cargo.toml
Owners: none

new tantivy commit hash
  Cargo.lock
  Cargo.toml
Owners: none

update lockfile
  Cargo.lock
Owners: none

clippy
  pg_search/src/postgres/delete.rs
  tests/tests/replication.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

simplify delete_document
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove crossbeam and oneshot from dependencies
  Cargo.lock
  pg_search/Cargo.toml
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

improve comment
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

update tantivy rev
  Cargo.lock
  Cargo.toml
Owners: none

exists supports json subpaths
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: `ambulkdelete` happens in the foreground, allowing us to remove all channels (#2664)
  Cargo.lock
  Cargo.toml
  pg_search/Cargo.toml
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/directory/mod.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/mod.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/mod.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/delete.rs
  tests/tests/replication.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: enable partial scoring for JOIN queries (#2661)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
  pg_search/tests/pg_regress/sql/score_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add regression test
  pg_search/src/query/mod.rs
  pg_search/tests/pg_regress/expected/exists_json.out
  pg_search/tests/pg_regress/sql/exists_json.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: update tantivy to latest revision
  Cargo.lock
  Cargo.toml
Owners: none

chore: update tantivy to latest revision (#2668)
  Cargo.lock
  Cargo.toml
Owners: none

chore: upgrade dependencies
  Cargo.lock
  benchmarks/Cargo.toml
  pg_search/Cargo.toml
  tests/Cargo.toml
  tokenizers/Cargo.toml
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: `paradedb.exists` supports json subpaths (#2667)
  pg_search/src/query/mod.rs
  pg_search/tests/pg_regress/expected/exists_json.out
  pg_search/tests/pg_regress/sql/exists_json.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: upgrade dependencies (#2669)
  Cargo.lock
  benchmarks/Cargo.toml
  pg_search/Cargo.toml
  tests/Cargo.toml
  tokenizers/Cargo.toml
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

benchmark tweaks
  .github/workflows/test-pg_search-benchmark.yml
  benchmarks/datasets/single/queries/pg_search/top_n.sql
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

improve logs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Adjust Top-N query metrics and add failing test.
  pg_search/src/postgres/customscan/pdbscan/exec_methods.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  tests/tests/custom_scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Do not re-execute the query if we have already reached the limit.
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Prepare 0.15.23
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.23.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.22--0.15.23.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: `paradedb.exists` supports json subpaths (#2667)
  pg_search/src/query/mod.rs
  pg_search/tests/pg_regress/expected/exists_json.out
  pg_search/tests/pg_regress/sql/exists_json.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Prepare 0.15.23 (#2673)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.23.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.22--0.15.23.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

ci: Rm Ubuntu 20.04 (#2656)
  .github/workflows/publish-pg_search-ubuntu.yml
Owners: @philippemnoel, @rebasedming

feat: true Postgres parallel index builds (#2647)
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/overview.mdx
  pg_search/src/api/aggregate.rs
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/parallel_worker/builder.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/tests/pg_regress/expected/mixedff_advanced_06_score_function.out
  pg_search/tests/pg_regress/sql/mixedff_advanced_06_score_function.sql
  tests/tests/aborted_xact.rs
  tests/tests/custom_scan.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti
