Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

Updated output files after merge.
  pg_search/tests/pg_regress/expected/issue_2745.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_07_recursive_cte.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix glob pattern
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Actually trigger
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Trigger test run
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Fix deprecated Slack API
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Trigger run
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Undo test
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

fix: Remove usage of deprecated Slack API (#2768)
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

chore: working on cleaning up index schema management
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Disabled the GUC by default.
  pg_search/src/gucs.rs
  pg_search/tests/pg_regress/expected/issue_2745.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_07_recursive_cte.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
  pg_search/tests/pg_regress/sql/pushdown_scalar_array_opexr.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Use the `enable_custom_scan_without_operator` on the tests that depend on it.
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: reverted "feat: always do pushdowns when we can" (#2770)
  pg_search/src/gucs.rs
  pg_search/tests/pg_regress/expected/issue_2745.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_07_recursive_cte.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
  pg_search/tests/pg_regress/sql/pushdown_scalar_array_opexr.sql
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

more work to centralize how things are opened
  .github/stressgres/bulk-updates.toml
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cargo clippy --fix; cargo fmt
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Added join perf benchmark
  benchmarks/datasets/join/generate.sql
  benchmarks/datasets/join/queries/pg_search/join_perf.sql
  benchmarks/src/join_perf.rs
  benchmarks/src/lib.rs
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

fix index config validation to appease unit tests
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/schema/mod.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

tidy up regress tests
  pg_search/src/postgres/build.rs
  pg_search/tests/pg_regress/expected/index_config_errors.out
  pg_search/tests/pg_regress/expected/top_n_scan.out
  pg_search/tests/pg_regress/sql/index_config_errors.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

oops! that was a wasted 10 minutes
  .github/stressgres/bulk-updates.toml
Owners: @philippemnoel, @rebasedming

didn't intend to make this change
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: the BAS_BULKWRITE strategy allocation now happens once
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: the BAS_BULKWRITE strategy allocation now happens once
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: the BAS_BULKWRITE strategy allocation now happens once (#2772)
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: more improvements to index/schema configuration and management (#2771)
  .github/stressgres/bulk-updates.toml
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/index_config_errors.out
  pg_search/tests/pg_regress/expected/top_n_scan.out
  pg_search/tests/pg_regress/sql/index_config_errors.sql
  tests/tests/index_config.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

0.16.3
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.3.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.16.2--0.16.3.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

changelog
  docs/changelog/0.16.3.mdx
Owners: @rebasedming, @stuhood

chore: fix compilation warnings on pg14/15
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

wide-table.toml
  .github/stressgres/wide-table.toml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Update docs/changelog/0.16.3.mdx
  docs/changelog/0.16.3.mdx
Owners: @rebasedming, @stuhood

fix test
  tests/tests/pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Add `wide-table.toml` to CI (#2775)
  .github/stressgres/wide-table.toml
  .github/workflows/test-pg_search-stressgres.yml
  tests/tests/pushdown.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: fix compilation warnings on pg14/15 (#2774)
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Added a GUC (`enable_custom_scan_for_non_indexed_fields`) for handling non-indexed fields in queries (#2767)
  pg_search/src/gucs.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2745.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_07_recursive_cte.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
  pg_search/tests/pg_regress/sql/score_non_indexed_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: add git commit hash to stressgres-generated graph images
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

chore: add git commit hash to stressgres-generated graph images (#2778)
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

fix: reverted "feat: always do pushdowns when we can" (#2770)
  pg_search/src/gucs.rs
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/sql/pushdown_scalar_array_opexr.sql
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: fix compilation warnings on pg14/15 (#2774)
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: more improvements to index/schema configuration and management (#2771)
  .github/stressgres/bulk-updates.toml
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/index_config_errors.out
  pg_search/tests/pg_regress/expected/top_n_scan.out
  pg_search/tests/pg_regress/sql/index_config_errors.sql
  tests/tests/index_config.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Upgrade to `0.16.3` (#2773)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.3.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.16.2--0.16.3.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

perf: the BAS_BULKWRITE strategy allocation now happens once (#2772)
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Add `wide-table.toml` to CI (#2775)
  .github/stressgres/wide-table.toml
  .github/workflows/test-pg_search-stressgres.yml
  tests/tests/pushdown.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
