Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

fix: `paradedb.aggregate()` should account for `parallel_leader_participation`
  pg_search/src/api/aggregate.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: sort segments by num docs for parallel workers (#2698)
  pg_search/src/postgres/customscan/pdbscan/parallel.rs
  pg_search/src/postgres/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

warning for maintenance_work_mem
  pg_search/src/postgres/build_parallel.rs
  pg_search/tests/pg_regress/expected/parallel_build_large.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

comments about tests
  pg_search/tests/pg_regress/expected/parallel_build_empty.out
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/expected/parallel_build_small.out
  pg_search/tests/pg_regress/sql/parallel_build_empty.sql
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
  pg_search/tests/pg_regress/sql/parallel_build_small.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: `CREATE INDEX`/`REINDEX` exactly targets the CPU count by efficiently merging (#2681)
  Cargo.lock
  Cargo.toml
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/segment_size.mdx
  docs/documentation/configuration/write.mdx
  docs/documentation/indexing/create_index.mdx
  pg_search/src/gucs.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/tests/pg_regress/common/parallel_build_large_cleanup.sql
  pg_search/tests/pg_regress/common/parallel_build_large_setup.sql
  pg_search/tests/pg_regress/common/parallel_build_small_cleanup.sql
  pg_search/tests/pg_regress/common/parallel_build_small_setup.sql
  pg_search/tests/pg_regress/expected/parallel_build_empty.out
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/expected/parallel_build_small.out
  pg_search/tests/pg_regress/sql/parallel_build_empty.sql
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
  pg_search/tests/pg_regress/sql/parallel_build_small.sql
  tests/tests/cleanup.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

Use multiple segments in `qgen`.
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add generated subquery tests, and generate paging expressions.
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/fixtures/querygen/pagegen.rs
  tests/tests/qgen.proptest-regressions
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add topology
  docs/deploy/byoc.mdx
  docs/images/high-availability.png
  docs/images/topology.png
Owners: @rebasedming, @stuhood

Update byoc.mdx
  docs/deploy/byoc.mdx
Owners: @rebasedming, @stuhood

Add a uuid fast column and a larger table to repro https://github.com/paradedb/tantivy/pull/51. Also temporarily remove non-tiebreak columns until #2642 is fixed.
  tests/tests/fixtures/querygen/pagegen.rs
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Incorporate the fix from https://github.com/paradedb/tantivy/pull/51
  Cargo.lock
  Cargo.toml
Owners: none

Stablize on `tantivy/main`
  Cargo.lock
  Cargo.toml
Owners: none

test: Fix TopN for ascending string order, and add generated paging tests (#2635)
  Cargo.lock
  Cargo.toml
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/fixtures/querygen/pagegen.rs
  tests/tests/qgen.proptest-regressions
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

do not sort range fields
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

regression tests
  pg_search/tests/pg_regress/expected/fast_fields_options.out
  pg_search/tests/pg_regress/expected/issue_2688.out
  pg_search/tests/pg_regress/expected/top_n_scan.out
  pg_search/tests/pg_regress/sql/issue_2688.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: Fall back to Postgres when sorting by range field (#2695)
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
  pg_search/tests/pg_regress/expected/issue_2688.out
  pg_search/tests/pg_regress/expected/top_n_scan.out
  pg_search/tests/pg_regress/sql/issue_2688.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: `paradedb.aggregate()` should account for `parallel_leader_participation` (#2699)
  pg_search/src/api/aggregate.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

test: Fix TopN for ascending string order, and add generated paging tests (#2635)
  Cargo.lock
  Cargo.toml
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/fixtures/querygen/pagegen.rs
  tests/tests/qgen.proptest-regressions
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: Fall back to Postgres when sorting by range field (#2695)
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
  pg_search/tests/pg_regress/expected/issue_2688.out
  pg_search/tests/pg_regress/expected/top_n_scan.out
  pg_search/tests/pg_regress/sql/issue_2688.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: `paradedb.aggregate()` should account for `parallel_leader_participation` (#2699)
  pg_search/src/api/aggregate.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

upgrade to 0.15.26
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.26.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.25--0.15.26.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

Update docs/changelog/0.15.26.mdx
  docs/changelog/0.15.26.mdx
Owners: @rebasedming, @stuhood

update changelog
  docs/changelog/0.15.26.mdx
Owners: @rebasedming, @stuhood

chore: upgrade to `0.15.26` (#2705)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.26.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.25--0.15.26.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

chore: upgrade to `0.15.26` (#2705)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.26.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.25--0.15.26.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

docs: Add topology (#2701)
  docs/deploy/byoc.mdx
  docs/images/high-availability.png
  docs/images/topology.png
Owners: @rebasedming, @stuhood

introduce new_buffers to bman
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

introduce recycled_buffer
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

introduce extend_relation function
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

writer can allocate chunks of blocks
  Cargo.lock
  Cargo.toml
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

new tantivy rev
  Cargo.lock
  Cargo.toml
Owners: none

segfault on abort
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

reset extended_by
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

call extend buffer
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix comment
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

make it work for pg14 and pg15
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix buffermutvec
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

adjust to new tantivy rev
  Cargo.lock
  Cargo.toml
  pg_search/src/index/directory/mvcc.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

lower max buffers to 64
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove extra code
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
