Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

fix regress
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix Mintlify links check
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming

Fix mintlify check workflow
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming

Add support to the benchmark job for emitting JSON with an average runtime.
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

Split files so that each file contains only ~equivalent queries.
  benchmarks/datasets/single/queries/pg_search/bucket-expr-filter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-numeric-filter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-numeric-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-string-filter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-string-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/bucket.sql
  benchmarks/datasets/single/queries/pg_search/count-filter.sql
  benchmarks/datasets/single/queries/pg_search/count-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/count.sql
  benchmarks/datasets/single/queries/pg_search/filtered-highcard.sql
  benchmarks/datasets/single/queries/pg_search/filtered-lowcard.sql
  benchmarks/datasets/single/queries/pg_search/filtered_json-range.sql
  benchmarks/datasets/single/queries/pg_search/filtered_json.sql
  benchmarks/datasets/single/queries/pg_search/top_n-compound.sql
  benchmarks/datasets/single/queries/pg_search/top_n-numeric-highcard.sql
  benchmarks/datasets/single/queries/pg_search/top_n-numeric-lowcard.sql
  benchmarks/datasets/single/queries/pg_search/top_n-score.sql
  benchmarks/datasets/single/queries/pg_search/top_n-string.sql
  benchmarks/datasets/single/queries/pg_search/top_n.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-expr-filter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-numeric-filter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-numeric-nofilter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-string-filter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-string-nofilter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket.sql
  benchmarks/datasets/single/queries/tuned_postgres/count-filter.sql
  benchmarks/datasets/single/queries/tuned_postgres/count-nofilter.sql
  benchmarks/datasets/single/queries/tuned_postgres/filtered-highcard.sql
  benchmarks/datasets/single/queries/tuned_postgres/filtered-lowcard.sql
  benchmarks/datasets/single/queries/tuned_postgres/filtered_json-range.sql
  benchmarks/datasets/single/queries/tuned_postgres/filtered_json.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-compound.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-numeric-highcard.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-numeric-lowcard.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-score.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-string.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n.sql
Owners: @philippemnoel, @rebasedming

Add `paradedb.aggregate` to the benchmark suite.
  benchmarks/datasets/single/queries/pg_search/bucket.sql
  benchmarks/datasets/single/queries/pg_search/cardinality.sql
  benchmarks/datasets/single/queries/pg_search/count.sql
Owners: @philippemnoel, @rebasedming

chore: Add support to the benchmark tool for emitting JSON (#2782)
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

Remove ICU
  .github/workflows/publish-pg_search-rhel.yml
Owners: @philippemnoel, @rebasedming

Remove ICU in RHEL
  .github/workflows/publish-pg_search-rhel.yml
Owners: @philippemnoel, @rebasedming

Fix mintlify check workflow
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming

Tested, works
  .github/workflows/publish-pg_search-rhel.yml
Owners: @philippemnoel, @rebasedming

ci: Remove hardcoded ICU on RHEL (#2786)
  .github/workflows/publish-pg_search-rhel.yml
Owners: @philippemnoel, @rebasedming

fix: reverted "feat: always do pushdowns when we can" (#2770)
  pg_search/src/gucs.rs
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/sql/pushdown_scalar_array_opexr.sql
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix regress
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: fix compilation warnings on pg14/15 (#2774)
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Add `wide-table.toml` to CI (#2775)
  .github/stressgres/wide-table.toml
  .github/workflows/test-pg_search-stressgres.yml
  tests/tests/pushdown.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Upgrade to `0.16.3` (#2773)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.3.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.16.2--0.16.3.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

chore: more improvements to index/schema configuration and management (#2771)
  .github/stressgres/bulk-updates.toml
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/index_config_errors.out
  pg_search/tests/pg_regress/expected/top_n_scan.out
  pg_search/tests/pg_regress/sql/index_config_errors.sql
  tests/tests/index_config.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: the BAS_BULKWRITE strategy allocation now happens once (#2772)
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Expand benchmarking of aggregates, and add detail to query types (#2783)
  benchmarks/datasets/single/queries/pg_search/bucket-expr-filter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-numeric-filter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-numeric-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-string-filter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-string-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/bucket.sql
  benchmarks/datasets/single/queries/pg_search/count-filter.sql
  benchmarks/datasets/single/queries/pg_search/count-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/count.sql
  benchmarks/datasets/single/queries/pg_search/filtered-highcard.sql
  benchmarks/datasets/single/queries/pg_search/filtered-lowcard.sql
  benchmarks/datasets/single/queries/pg_search/filtered_json-range.sql
  benchmarks/datasets/single/queries/pg_search/filtered_json.sql
  benchmarks/datasets/single/queries/pg_search/top_n-compound.sql
  benchmarks/datasets/single/queries/pg_search/top_n-numeric-highcard.sql
  benchmarks/datasets/single/queries/pg_search/top_n-numeric-lowcard.sql
  benchmarks/datasets/single/queries/pg_search/top_n-score.sql
  benchmarks/datasets/single/queries/pg_search/top_n-string.sql
  benchmarks/datasets/single/queries/pg_search/top_n.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-expr-filter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-numeric-filter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-numeric-nofilter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-string-filter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket-string-nofilter.sql
  benchmarks/datasets/single/queries/tuned_postgres/bucket.sql
  benchmarks/datasets/single/queries/tuned_postgres/count-filter.sql
  benchmarks/datasets/single/queries/tuned_postgres/count-nofilter.sql
  benchmarks/datasets/single/queries/tuned_postgres/filtered-highcard.sql
  benchmarks/datasets/single/queries/tuned_postgres/filtered-lowcard.sql
  benchmarks/datasets/single/queries/tuned_postgres/filtered_json-range.sql
  benchmarks/datasets/single/queries/tuned_postgres/filtered_json.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-compound.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-numeric-highcard.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-numeric-lowcard.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-score.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n-string.sql
  benchmarks/datasets/single/queries/tuned_postgres/top_n.sql
Owners: @philippemnoel, @rebasedming

schema upgrade script
  pg_search/sql/pg_search--0.16.3--0.16.4.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

code review cleanups
  .github/stressgres/bulk-updates.toml
  Cargo.lock
  Cargo.toml
  pg_search/sql/pg_search--0.16.2--0.16.3.sql
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

introduce QueryWorkerStyle
  pg_search/src/api/aggregate.rs
  pg_search/src/parallel_worker/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

address comment
  pg_search/src/api/aggregate.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix error
  pg_search/src/api/aggregate.rs
  pg_search/tests/pg_regress/expected/aggregate-udf.out
  pg_search/tests/pg_regress/sql/aggregate-udf.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: "attempt to multiply with overflow" error in `paradedb.aggregate` (#2766)
  pg_search/src/api/aggregate.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/tests/pg_regress/expected/aggregate-udf.out
  pg_search/tests/pg_regress/sql/aggregate-udf.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

CSV mode
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Fix variable
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Fix formatting
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Add generation of Stressgres CSV
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

don't dirty pages that aren't
  .github/stressgres/bulk-updates.toml
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

ci: Add generation of Stressgres results to CSV (#2781)
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Remove TODO from test-pg_search-stressgres that was accidentally left behind
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

oops
  pg_search/src/postgres/storage/fsm.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Move to Eric and Stu's proposed release flow
  .github/workflows/publish-github-release.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Cleanup the RELEASE.md file
  RELEASE.md
Owners: none

Cleanup the staging logic
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/publish-pg_search-debian.yml
  .github/workflows/publish-pg_search-macos.yml
  .github/workflows/publish-pg_search-pgxn.yml
  .github/workflows/publish-pg_search-ubuntu.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search-upgrade.yml
  .github/workflows/test-pg_search.yml
  benchmarks/src/micro_benchmarks/benchmark_data_setup.rs
  docs/deploy/ci/github-actions.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Update to one branch named dev
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-docker.yml
  .github/workflows/test-pg_search-stressgres.yml
  .github/workflows/test-pg_search-upgrade.yml
  .github/workflows/test-pg_search.yml
  docs/deploy/ci/github-actions.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Undo unnecessary changes
  benchmarks/src/micro_benchmarks/benchmark_data_setup.rs
  docs/deploy/ci/github-actions.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Keep version upgrade check
  .github/workflows/test-pg_search-upgrade.yml
Owners: @philippemnoel, @rebasedming

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
