Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

refactor type resolution to return `Option`
  pg_search/src/postgres/utils.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

improved code.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fixed a postgres version inconsistency issue.
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

regression tests
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/tests/pg_regress/expected/issue_2745.out
  pg_search/tests/pg_regress/sql/issue_2745.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: join quals don't throw away other quals (#2746)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/tests/pg_regress/expected/issue_2745.out
  pg_search/tests/pg_regress/sql/issue_2745.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix typo.
  pg_search/src/postgres/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed partial index coverage.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/tests/pg_regress/expected/partial_index_score_fix.out
  pg_search/tests/pg_regress/sql/partial_index_score_fix.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: support domain types (#2345)
  pg_search/src/postgres/utils.rs
  pg_search/src/schema/mod.rs
  tests/tests/domain_type.rs
  tests/tests/qgen.proptest-regressions
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

commented out a flakey test.
  pg_search/tests/pg_regress/expected/partial_index_score_fix.out
  pg_search/tests/pg_regress/sql/partial_index_score_fix.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

change `SearchIndexReader` to require a query when constructed
  pg_search/src/api/aggregate.rs
  pg_search/src/api/builder_fns.rs
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/numeric.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

code review
  pg_search/src/api/operator.rs
  pg_search/src/index/directory/mvcc.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

push the number of heap tuples down into `SearchIndexReader::estimate_docs()`
  pg_search/src/api/operator.rs
  pg_search/src/index/reader/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

optimize `SearchIndexReader::collect_segments()`
  pg_search/src/index/reader/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

minor refactoring around `MVCCDirectory` construction.
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

update to tantivy rev with lazily opening positions file
  Cargo.lock
  Cargo.toml
Owners: none

Add a new `MvccSatisfies::LargestSegment` variant that only loads the largest segment, by num_docs
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/api/operator/text.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove the internal cache from `BM25BufferCache`
  pg_search/src/index/reader/segment_component.rs
  pg_search/src/postgres/storage/block.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add `MvccSatisfies::LargestSegment` variant
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

0.16.1
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.1.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
Owners: @rebasedming, @stuhood

chore: Upgrade to `0.16.1` (#2748)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.1.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
Owners: @rebasedming, @stuhood

initial commit for proximity search support
  Cargo.lock
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/scorer.rs
  pg_search/src/query/proximity/weight.rs
  pg_search/src/query/range.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

support a Vec<String> on the left and right
  pg_search/src/query/mod.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

more work on proximity. no supports regexes and nested proximity clauses
  Cargo.lock
  pg_search/Cargo.toml
  pg_search/src/api/mod.rs
  pg_search/src/api/proximity.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/scorer.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cargo clippy
  pg_search/src/api/proximity.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/scorer.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

custom in/out functions for ProximityClause
  pg_search/src/query/proximity/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

working on highlighting regex prox terms
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

code cleanup
  pg_search/src/api/proximity.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/scorer.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

initial docs
  docs/docs.json
  docs/documentation/advanced/proximity/proximity.mdx
  docs/documentation/advanced/proximity/proximity_clause.mdx
Owners: @rebasedming, @stuhood

silently stop matching if we reach our regex max_expansions value
  pg_search/src/api/proximity.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

update docs
  docs/documentation/advanced/proximity/proximity.mdx
Owners: @rebasedming, @stuhood

basic regress test for proximity
  pg_search/tests/pg_regress/expected/proximity.out
  pg_search/tests/pg_regress/sql/proximity.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

update docs
  docs/documentation/advanced/proximity/proximity.mdx
Owners: @rebasedming, @stuhood

update docs
  .prettierignore
  docs/documentation/advanced/proximity/proximity.mdx
Owners: @rebasedming, @stuhood

perf: reference count open relations (#2716)
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

appease CI
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix broken doc links
  docs/documentation/advanced/proximity/proximity.mdx
  docs/documentation/advanced/proximity/proximity_clause.mdx
Owners: @rebasedming, @stuhood

Make proptests more quiet.
  tests/tests/fixtures/querygen/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
