Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

comment
  pg_search/src/postgres/rel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

initial commit for proximity search support
  Cargo.lock
  Cargo.toml
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/scorer.rs
  pg_search/src/query/proximity/weight.rs
  pg_search/src/query/range.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cargo clippy
  pg_search/src/api/proximity.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/scorer.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

custom in/out functions for ProximityClause
  pg_search/src/query/proximity/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

update docs
  docs/documentation/advanced/proximity/proximity.mdx
Owners: @rebasedming, @stuhood

code cleanup
  Cargo.lock
  Cargo.toml
  pg_search/src/api/proximity.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/scorer.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

support a Vec<String> on the left and right
  pg_search/src/query/mod.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

initial docs
  docs/docs.json
  docs/documentation/advanced/proximity/proximity.mdx
  docs/documentation/advanced/proximity/proximity_clause.mdx
Owners: @rebasedming, @stuhood

update docs
  docs/documentation/advanced/proximity/proximity.mdx
Owners: @rebasedming, @stuhood

update docs
  .prettierignore
  docs/documentation/advanced/proximity/proximity.mdx
Owners: @rebasedming, @stuhood

update tantivy rev
  Cargo.lock
  Cargo.toml
Owners: none

more work on proximity. no supports regexes and nested proximity clauses
  Cargo.lock
  pg_search/Cargo.toml
  pg_search/src/api/mod.rs
  pg_search/src/api/proximity.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/scorer.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

basic regress test for proximity
  pg_search/tests/pg_regress/expected/proximity.out
  pg_search/tests/pg_regress/sql/proximity.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

silently stop matching if we reach our regex max_expansions value
  pg_search/src/api/proximity.rs
  pg_search/src/query/proximity/weight.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

working on highlighting regex prox terms
  Cargo.lock
  Cargo.toml
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/weight.rs
  pg_search/src/query/score.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Update pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

code review cleanups
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 4
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: reference count open relations (#2716)
  pg_search/src/api/aggregate.rs
  pg_search/src/api/builder_fns.rs
  pg_search/src/api/mod.rs
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/reader/segment_component.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/numeric.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/expression.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/linked_items.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/utils.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/postgres/visibility_checker.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 5
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 6 - replace search_reader
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 7 - replace search_reader
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 8 - replace search_reader
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 9 - fixed score
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

stabilize regression out
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 10 - fixed NOT query
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: stabilize regression output (#2725)
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 1 - fixed score
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - 2 - fixed score
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - fixed combine
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - fixed multi part bool expr
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: disabled logging
  pg_search/src/postgres/customscan/debug.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: fixed non-fast and non-indexed field handling + updated result files
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2528.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
  pg_search/tests/pg_regress/sql/score_non_indexed_predicates.sql
  pg_search/tests/pg_regress/sql/unified_expression_comprehensive.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: memory consumption cloning `MvccDirectory`
  .gitignore
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Update pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/mvcc.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: cleanup around `SearchIndexSchema::open()`
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

thanks, copilot
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clippy
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: fixed some remaining issues
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: fixed some remaining issues
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti
