Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

progress: unified exec
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/unified_expr.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: unified exec
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/unified_expr.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

wip
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval
  pg_search/src/query/external_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

new idea working
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/latch.rs
  pg_search/src/postgres/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clippy
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

allocate the BAS_BULKWRITE strategy once per BM25BufferCache instance
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

improve logging
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/query/external_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Add support for expression
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/api/operator/text.rs
  pg_search/src/index/search.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/expression.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/more_like_this.rs
  tests/tests/expression.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: Change extern declaration from "C" to "C-unwind" for improved safety
  pg_search/src/postgres/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Update copyright notice and licensing information in expression.rs
  pg_search/src/postgres/expression.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: Remove check var check for lhs in node_expr. Here lhs might be a FuncExpr, in such case this check make the function fails to resolve.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

achieve target segno
  pg_search/src/api/aggregate.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixes from merge.
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/options.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Doc fixes.
  docs/documentation/indexing/create_index.mdx
  pg_search/src/api/operator.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

cleanup
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

comments
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

log nmerges
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

max docs per segment
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/query/external_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: external filter stop point
  pg_search/src/query/external_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: new compositional eval
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/query/composition.rs
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix last merge
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

merge chunk ranges rev order
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

more comments
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add warnings, clippy
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs
  docs/documentation/configuration/index.mdx
Owners: @rebasedming, @stuhood

Add support for OpExprs.
  docs/documentation/full-text/sorting.mdx
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/text.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/expression.rs
  tests/tests/expression.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: support expressions in indexes (#2389)
  docs/documentation/full-text/sorting.mdx
  docs/documentation/indexing/create_index.mdx
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/api/operator/text.rs
  pg_search/src/index/search.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/expression.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
  tests/tests/expression.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

progress: new compositional eval
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/composition.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - init
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - working
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix unit tests
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix work_mem
  pg_search/src/gucs.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

regression tests
  pg_search/src/postgres/build_parallel.rs
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

typo
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
