Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for c08e1f4b246d6a335d09580dcc32b557847d04c9
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  stressgres/data.js
Owners: none

compiles
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

Don't persist credentials
  .github/workflows/cherry-pick.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Cherry pick to 0.18.x
  .github/workflows/publish-paradedb-docker.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Cherry pick to 19x
  .github/workflows/publish-paradedb-docker.yml
Owners: @philippemnoel, @rebasedming, @stuhood

fix test
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

fix reentrant share lock
  pg_search/src/index/directory/utils.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @rebasedming, @stuhood, @mdashti

enable block_tracker
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming, @stuhood

undo existing_okay
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

Avoid creating intermediate arrays for TermSets, avoid parsing fieldnames unnecessarily.
  Cargo.lock
  Cargo.toml
  pg_search/src/api/mod.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/pdb_query.rs
Owners: @rebasedming, @stuhood, @mdashti

Deprecate #3336.
  pg_search/src/api/builder_fns/pdb.rs
  pg_search/tests/pg_regress/expected/term_set_agg.out
Owners: @rebasedming, @stuhood, @mdashti

Use appropriate version in the lint job.
  .github/workflows/lint-rust.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Reduce encoding round trips.
  Cargo.lock
Owners: none

Consolidate jobs
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming, @stuhood

ci: Also test on arm (#3407)
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming, @stuhood

chore: Cherry pick is_latest fix to 0.19.x (#3410)
  .github/workflows/publish-paradedb-docker.yml
Owners: @philippemnoel, @rebasedming, @stuhood

chore: Cherry pick is_latest fix to 0.18.x (#3409)
  .github/workflows/publish-paradedb-docker.yml
Owners: @philippemnoel, @rebasedming, @stuhood

ci: Don't persist credentials in cherry-pick action (#3408)
  .github/workflows/cherry-pick.yml
Owners: @philippemnoel, @rebasedming, @stuhood

One round of docs SEO
  docs/docs.json
  docs/welcome/introduction.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix URL and add Bilt case study
  docs/welcome/introduction.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

docs: Proper canonical URL that avoids unnecessary redirect (#3413)
  docs/docs.json
  docs/welcome/introduction.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

fix reentrant share lock
  pg_search/src/index/directory/utils.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @rebasedming, @stuhood, @mdashti

compiles
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

fix test
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

rebase
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming, @stuhood

pin + write is okay
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

undo existing_okay
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

fix: compiles and tests pass with `block_tracker` enabled (#3411)
  .github/workflows/test-pg_search.yml
  pg_search/src/index/directory/utils.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

fix: compiles and tests pass with `block_tracker` enabled (#3411)
  .github/workflows/test-pg_search.yml
  pg_search/src/index/directory/utils.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood
