Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  stressgres/data.js
Owners: none

Fix compilation under `block_tracker`.
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

TODO: Enable the block tracker. See https://github.com/paradedb/paradedb/issues/3374
  pg_search/Cargo.toml
Owners: @rebasedming, @stuhood, @mdashti

Introduce an ImmutablePage type, which exposes the bytes of a pinner buffer.
  Cargo.lock
  pg_search/Cargo.toml
  pg_search/src/index/reader/segment_component.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
Owners: @rebasedming, @stuhood, @mdashti

Disable the block tracker.
  pg_search/Cargo.toml
Owners: @rebasedming, @stuhood, @mdashti

Add a tiny block cache.
  pg_search/src/postgres/storage/linked_bytes.rs
Owners: @rebasedming, @stuhood, @mdashti

use conditional lock
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

compiles
  pg_search/src/aggregate/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/filterquery.rs
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
Owners: @rebasedming, @stuhood, @mdashti

tantivy rev
  Cargo.lock
  Cargo.toml
Owners: none

Cherry-pick is_latest fix
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming, @stuhood

cleanup
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

use conditional lock
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

cleanup
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @stuhood, @mdashti

chore: Fix compilation errors against latest Tantivy `main` (#3403)
  Cargo.lock
  Cargo.toml
  pg_search/src/aggregate/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/filterquery.rs
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
Owners: @rebasedming, @stuhood, @mdashti

Properly do comparison for setting is_latest in Docker
  .github/workflows/publish-paradedb-docker.yml
Owners: @philippemnoel, @rebasedming, @stuhood

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

Applied PR comments.
  pg_search/src/api/aggregate.rs
  pg_search/src/api/window_function.rs
  pg_search/tests/pg_regress/expected/custom-agg.out
Owners: @rebasedming, @stuhood, @mdashti

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 06e9dd8ab625b9bfa247c34435f8ac29d6176300
  stressgres/data.js
Owners: none

ci: Properly do comparison for setting `is_latest` in Docker publish workflow (#3406)
  .github/workflows/publish-paradedb-docker.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Also test on arm
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming, @stuhood

chore: Use smaller merge buffers. (#3399)
  Cargo.lock
  Cargo.toml
Owners: none

Upgrade serde to match `main` to fix lockfile.
  Cargo.lock
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for c08e1f4b246d6a335d09580dcc32b557847d04c9
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for c08e1f4b246d6a335d09580dcc32b557847d04c9
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for c08e1f4b246d6a335d09580dcc32b557847d04c9
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 16a2b995844a5dad91f2fcb0196843ad24a26966
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming
