Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

Update pg_search/src/postgres/storage/utils.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: Avoid re-merging the same segments during `CREATE INDEX` (#2708)
  docs/documentation/configuration/index.mdx
  pg_search/src/api/aggregate.rs
  pg_search/src/gucs.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/storage/utils.rs
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

comments
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: address comments on `BufferMutVec` (#2711)
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

regression test + config change
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/misconfigured_configs.out
  pg_search/tests/pg_regress/sql/misconfigured_configs.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - improved
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: make incorrect configs not error (#2713)
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/misconfigured_configs.out
  pg_search/tests/pg_regress/sql/misconfigured_configs.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

ps indexing
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

ps suffix
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix pg14 and pg15
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/ps_status.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - added debugging
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

wip
  pg_search/src/postgres/storage/linked_bytes.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: suffix process title in `ps`/`top` during parallel index build (#2712)
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/ps_status.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Use collect_block in mvcc-aware aggregates, which improves performance between 5% and 20%.
  pg_search/src/api/aggregate.rs
  pg_search/src/index/fast_fields_helper.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix typo in pg_search/src/index/fast_fields_helper.rs
  pg_search/src/index/fast_fields_helper.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - added debugging
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: Batch field lookups in MVCC-aware aggregates (#2714)
  pg_search/src/api/aggregate.rs
  pg_search/src/index/fast_fields_helper.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix crash on abort
  pg_search/src/index/writer/segment_component.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add assert
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: writer doesn't crash on abort (#2718)
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add `paradedb.aggregate` to the benchmark suite.
  benchmarks/datasets/single/queries/pg_search/bucket.sql
  benchmarks/datasets/single/queries/pg_search/cardinality.sql
  benchmarks/datasets/single/queries/pg_search/count.sql
Owners: @philippemnoel, @rebasedming

progress: compositional eval - fixed NOT handling
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: `always()` print the Postgres logs in CI (#2657)
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

feat: Ignore named tuple stores in qual extraction to fix use with `pg_ivm` (#2643)
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/var.rs
  tests/tests/ivm.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

ci: Rm Ubuntu 20.04 (#2656)
  .github/workflows/publish-pg_search-ubuntu.yml
Owners: @philippemnoel, @rebasedming

feat: always do pushdowns when we can (#2639)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
  pg_search/tests/pg_regress/sql/mixedff_advanced_03_limit_topn.sql
  tests/tests/pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: support expressions in indexes (#2389)
  docs/documentation/full-text/sorting.mdx
  docs/documentation/indexing/create_index.mdx
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/api/operator/text.rs
  pg_search/src/index/search.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/expression.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
  tests/tests/expression.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

perf: Avoid re-merging the same segments during `CREATE INDEX` (#2708)
  docs/documentation/configuration/index.mdx
  pg_search/src/api/aggregate.rs
  pg_search/src/gucs.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/storage/utils.rs
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: `ambulkdelete` happens in the foreground, allowing us to remove all channels (#2664)
  Cargo.lock
  Cargo.toml
  pg_search/Cargo.toml
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/directory/mod.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/mod.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/mod.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/delete.rs
  tests/tests/replication.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs: use willow theme (#2692)
  docs/docs.json
  docs/style.css
Owners: @rebasedming, @stuhood

fix: should be able to construct a `SearchField` for `ctid` (#2662)
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/find_ctid.out
  pg_search/tests/pg_regress/sql/find_ctid.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs: Fix broken link (#2694)
  docs/documentation/indexing/create_index.mdx
Owners: @rebasedming, @stuhood

perf: Writer can allocate new buffers in chunks, instead of one at a time (#2702)
  Cargo.lock
  Cargo.toml
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/utils.rs
  tests/tests/custom_scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: Fall back to Postgres when sorting by range field (#2695)
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: rename module and move type (#2683)
  pg_search/src/api/builder_fns.rs
  pg_search/src/api/mod.rs
  pg_search/src/api/operator.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/postgres/var.rs
  pg_search/src/query/mod.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: address comments on `BufferMutVec` (#2711)
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

test: Fix TopN for ascending string order, and add generated paging tests (#2635)
  Cargo.lock
  Cargo.toml
Owners: none

chore: Configure `max_parallel_maintenance_workers` , add tiebreak query to benchmarks (#2670)
  .github/workflows/test-pg_search-benchmark.yml
  benchmarks/datasets/single/queries/pg_search/top_n.sql
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

chore: update tantivy to latest revision (#2668)
  Cargo.lock
  Cargo.toml
Owners: none

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
