Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood

also ignore welcome/support
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming, @stuhood

syntax
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming, @stuhood

try this
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming, @stuhood

No longer necessary
  docs/docs.json
Owners: @philippemnoel, @rebasedming, @stuhood

docs: Remove outdated redirects (#3432)
  docs/docs.json
Owners: @philippemnoel, @rebasedming, @stuhood

Add sort order.
  Cargo.lock
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippets.out
  pg_search/tests/pg_regress/sql/snippets.sql
Owners: @rebasedming, @stuhood, @mdashti

Remove nesting around snippet projection.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @stuhood, @mdashti

Rename to `SingleText`.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
Owners: @rebasedming, @stuhood, @mdashti

Add `pdb.snippets`.
  Cargo.lock
  Cargo.toml
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippets.out
  pg_search/tests/pg_regress/sql/snippets.sql
Owners: @rebasedming, @stuhood, @mdashti

Deprecate `limit` and `offset`.
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/tests/pg_regress/expected/snippet_limit_offset.out
Owners: @rebasedming, @stuhood, @mdashti

Update docs.
  docs/v2/full-text/highlight.mdx
  pg_search/sql/pg_search--0.19.2--0.19.3.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

Stabilize tantivy.
  Cargo.lock
  Cargo.toml
Owners: none

feat: Add `pdb.snippets` to support rendering the top-n snippets for a document. (#3434)
  Cargo.lock
  Cargo.toml
  docs/v2/full-text/highlight.mdx
  pg_search/sql/pg_search--0.19.2--0.19.3.sql
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippet_limit_offset.out
  pg_search/tests/pg_regress/expected/snippets.out
  pg_search/tests/pg_regress/sql/snippets.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

feat: Add `pdb.snippets` to support rendering the top-n snippets for a document. (#3434)
  Cargo.lock
  Cargo.toml
  docs/v2/full-text/highlight.mdx
  pg_search/sql/pg_search--0.19.2--0.19.3.sql
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippet_limit_offset.out
  pg_search/tests/pg_regress/expected/snippets.out
  pg_search/tests/pg_regress/sql/snippets.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

feat: Add `pdb.snippets` to support rendering the top-n snippets for a document. (#3434)
  Cargo.lock
  Cargo.toml
  docs/v2/full-text/highlight.mdx
  pg_search/sql/pg_search--0.19.2--0.19.3.sql
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippet_limit_offset.out
  pg_search/tests/pg_regress/expected/snippets.out
  pg_search/tests/pg_regress/sql/snippets.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

Prepare `0.18.15`.
  docs/changelog/0.18.15.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.18.14--0.18.15.sql
  pg_search/sql/pg_search--0.18.15--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

Shpelling.
  docs/changelog/0.18.15.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - TPS (customBiggerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 0a5f7c1d4618c7972dee96f0ebf9e34fd985906b
  stressgres/data.js
Owners: none

Rename `pdb.snippets` in `0.18.15`.
  docs/changelog/0.18.15.mdx
  pg_search/sql/pg_search--0.18.14--0.18.15.sql
  pg_search/sql/pg_search--0.18.15--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  stressgres/data.js
Owners: none

Rename `pdb.snippets` to `paradedb.snippets`.
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/tests/pg_regress/expected/snippet_limit_offset.out
  pg_search/tests/pg_regress/expected/snippets.out
  pg_search/tests/pg_regress/sql/snippets.sql
Owners: @rebasedming, @stuhood, @mdashti

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  stressgres/data.js
Owners: none
