Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

Use multiple segments in `qgen`.
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Split out a separate paging test, as a stable order-by is required for deterministic testing.
  tests/tests/fixtures/querygen/pagegen.rs
  tests/tests/qgen.proptest-regressions
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add repro.
  pg_search/tests/pg_regress/expected/string_id_limit.out
  pg_search/tests/pg_regress/sql/string_id_limit.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix string fast field sort order in the presence of multiple segments.
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
  pg_search/tests/pg_regress/expected/string_id_limit.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: Fix Top-N with multiple segments for string fast fields (#2641)
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
  pg_search/tests/pg_regress/expected/string_id_limit.out
  pg_search/tests/pg_regress/sql/string_id_limit.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Repro.
  pg_search/tests/pg_regress/expected/ivm.out
  pg_search/tests/pg_regress/sql/ivm.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Do not panic for `RTE_NAMEDTUPLESTORE`.
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/var.rs
  pg_search/tests/pg_regress/expected/ivm.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Cover an actual query in the repro.
  pg_search/tests/pg_regress/expected/ivm.out
  pg_search/tests/pg_regress/sql/ivm.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix footer
  docs/deploy/enterprise.mdx
Owners: @rebasedming, @stuhood

docs: Fix incorrect footer in /enterprise (#2645)
  docs/deploy/enterprise.mdx
Owners: @rebasedming, @stuhood

Small docs cleanups
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/self-hosted/kubernetes.mdx
  docs/deploy/self-hosted/overview.mdx
  docs/docs.json
  docs/welcome/introduction.mdx
Owners: @rebasedming, @stuhood

improved impl: final stop point
  join_limit_analysis.md
  limit_pushdown_repro.sql
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/numeric.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
  pg_search/tests/pg_regress/expected/issue_2564-parallel.out
  pg_search/tests/pg_regress/expected/issue_2564.out
  pg_search/tests/pg_regress/expected/limit_pushdown_repro.out
  pg_search/tests/pg_regress/expected/mixed_fast_fields_bug.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_01_aggregation.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_02_mixed_fast_non_fast.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_04_execution_method_selection.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_05_union_window_functions.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_06_score_function.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_07_recursive_cte.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_08_type_conversion.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/mixedff_basic_01_basic_mixed_fields.out
  pg_search/tests/pg_regress/expected/mixedff_basic_02_multiple_string_fields.out
  pg_search/tests/pg_regress/expected/mixedff_basic_03_multiple_numeric_fields.out
  pg_search/tests/pg_regress/expected/mixedff_basic_04_mixed_field_types.out
  pg_search/tests/pg_regress/expected/mixedff_edgecases_01_corner_cases.out
  pg_search/tests/pg_regress/expected/mixedff_edgecases_02_null_handling.out
  pg_search/tests/pg_regress/expected/mixedff_edgecases_03_string_edge_cases.out
  pg_search/tests/pg_regress/expected/mixedff_edgecases_04_complex_string_patterns.out
  pg_search/tests/pg_regress/expected/mixedff_queries_01_complex_join.out
  pg_search/tests/pg_regress/expected/mixedff_queries_02_order_by.out
  pg_search/tests/pg_regress/expected/mixedff_queries_03_cte_test.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/mixedff_queries_05_join2.out
  pg_search/tests/pg_regress/expected/simple_limit_materialization_test.out
  pg_search/tests/pg_regress/sql/limit_pushdown_repro.sql
  pg_search/tests/pg_regress/sql/simple_limit_materialization_test.sql
  test_join_optimization.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fix broken link
  docs/deploy/overview.mdx
Owners: @rebasedming, @stuhood

docs: Small docs cleanups (#2646)
  docs/deploy/overview.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/self-hosted/kubernetes.mdx
  docs/deploy/self-hosted/overview.mdx
  docs/docs.json
  docs/welcome/introduction.mdx
Owners: @rebasedming, @stuhood

Convert to unit test, and bail safely for unrecognized RTEKinds.
  pg_search/src/postgres/var.rs
  pg_search/tests/pg_regress/expected/ivm.out
  pg_search/tests/pg_regress/sql/ivm.sql
  tests/tests/ivm.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: true Postgres parallel index builds
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/overview.mdx
  pg_search/src/api/aggregate.rs
  pg_search/src/gucs.rs
  pg_search/src/index/merge_policy.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/parallel_worker/builder.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  tests/tests/aborted_xact.rs
  tests/tests/custom_scan.rs
  tests/tests/index_config.rs
  tests/tests/layered_merge.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

code review cleanup
  pg_search/src/index/merge_policy.rs
  tests/tests/layered_merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

type-o
  docs/documentation/configuration/index.mdx
Owners: @rebasedming, @stuhood

add back the warning about the raw tokenizer being deprecated
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

adjust a test query to produce predictable output that isn't based on the order in which rows were inserted into the heap or indexed
  pg_search/tests/pg_regress/expected/mixedff_advanced_06_score_function.out
  pg_search/tests/pg_regress/sql/mixedff_advanced_06_score_function.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

More small docs fixes
  docs/deploy/third-party-extensions.mdx
  docs/welcome/introduction.mdx
Owners: @rebasedming, @stuhood

Clean
  docs/deploy/third-party-extensions.mdx
Owners: @rebasedming, @stuhood

Remove outdated pg_analytics stuff
  tests/tests/fixtures/tables/duckdb_types.rs
  tests/tests/fixtures/tables/nyc_trips.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs: More small docs fixes (#2648)
  docs/deploy/third-party-extensions.mdx
  docs/welcome/introduction.mdx
Owners: @rebasedming, @stuhood

More cleanup
  THANKYOU.md
  tests/tests/fixtures/tables/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Remove outdated `pg_analytics` code (#2649)
  THANKYOU.md
  tests/tests/fixtures/tables/duckdb_types.rs
  tests/tests/fixtures/tables/mod.rs
  tests/tests/fixtures/tables/nyc_trips.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Prepare 0.15.22.
  Cargo.toml
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
Owners: @rebasedming, @stuhood

Add changelog.
  docs/changelog/0.15.22.mdx
Owners: @rebasedming, @stuhood

fix: `paradedb.aggregate()` won't crash if it couldn't launch workers
  pg_search/src/api/aggregate.rs
  pg_search/src/parallel_worker/mqueue.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

oh yeah, adjust the regression test
  pg_search/tests/pg_regress/expected/aggregate-udf.out
  pg_search/tests/pg_regress/sql/aggregate-udf.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add upgrade script.
  pg_search/sql/pg_search--0.15.21--0.15.22.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: `paradedb.aggregate()` won't crash if it couldn't launch workers (#2652)
  pg_search/src/api/aggregate.rs
  pg_search/src/parallel_worker/mqueue.rs
  pg_search/tests/pg_regress/expected/aggregate-udf.out
  pg_search/tests/pg_regress/sql/aggregate-udf.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Upgrade to 0.15.22. (#2650)
  Cargo.toml
  docs/changelog/0.15.22.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.21--0.15.22.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

Add a note for Eric's change.
  docs/changelog/0.15.22.mdx
Owners: @rebasedming, @stuhood

Added a repro.
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/snippet_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Cargo.lock
  Cargo.lock
Owners: none

Fixed the issue.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Updated the output.
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Rm Ubuntu 20.04
  .github/workflows/publish-pg_search-ubuntu.yml
Owners: @philippemnoel, @rebasedming

ci: Rm Ubuntu 20.04 (#2656)
  .github/workflows/publish-pg_search-ubuntu.yml
Owners: @philippemnoel, @rebasedming
