Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

fix: compiles and tests pass with `block_tracker` enabled (#3411) (#3414)
  .github/workflows/test-pg_search.yml
  pg_search/src/index/directory/utils.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search logical-replication.toml Performance - TPS (customBiggerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 91878e559acf42287f80feb49bef5663d209f457
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

update cargo.toml
  Cargo.lock
  Cargo.toml
Owners: none

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  stressgres/data.js
Owners: none

chore: Update version to `0.19.2-rc.1` (#3415)
  Cargo.lock
  Cargo.toml
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 2049e4916493431535e38293ae9515af7bda471f
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 4fb6eb40b0744a10b372f308cad1e0713b08348e
  stressgres/data.js
Owners: none

Stabilize tantivy.
  Cargo.lock
  Cargo.toml
Owners: none

Remove refresh, add learn
  docs/docs.json
Owners: @philippemnoel, @rebasedming, @stuhood

Remove global canonical, it is set per-page
  docs/docs.json
Owners: @philippemnoel, @rebasedming, @stuhood

Fix all pages rendering as ParadeDB Docs without the page-specific title
  docs/docs.json
Owners: @philippemnoel, @rebasedming, @stuhood

Set canonical to the actual URL
  docs/changelog/deprecated.mdx
  docs/v2/aggregates/overview.mdx
  docs/v2/full-text/fuzzy.mdx
  docs/v2/full-text/highlight.mdx
  docs/v2/full-text/match.mdx
  docs/v2/full-text/overview.mdx
  docs/v2/full-text/phrase.mdx
  docs/v2/full-text/term.mdx
  docs/v2/getting-started/install.mdx
  docs/v2/getting-started/load.mdx
  docs/v2/getting-started/quickstart.mdx
  docs/v2/indexing/create_index.mdx
  docs/v2/overview.mdx
  docs/v2/query-builder/json.mdx
  docs/v2/query-builder/match.mdx
  docs/v2/query-builder/overview.mdx
  docs/v2/query-builder/phrase/phrase.mdx
  docs/v2/query-builder/phrase/phrase_prefix.mdx
  docs/v2/query-builder/phrase/regex_phrase.mdx
  docs/v2/query-builder/term/exists.mdx
  docs/v2/query-builder/term/fuzzy_term.mdx
  docs/v2/query-builder/term/range.mdx
  docs/v2/query-builder/term/range_term.mdx
  docs/v2/query-builder/term/regex.mdx
  docs/v2/query-builder/term/term.mdx
  docs/v2/query-builder/term/term_set.mdx
  docs/v2/sorting/boost.mdx
  docs/v2/sorting/score.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix duplicate meta titles
  docs/changelog/0.16.5.mdx
  docs/deploy/ci/overview.mdx
  docs/deploy/self-hosted/high-availability/configuration.mdx
  docs/deploy/self-hosted/high-availability/getting-started.mdx
  docs/deploy/self-hosted/logical-replication/configuration.mdx
  docs/deploy/self-hosted/logical-replication/getting-started.mdx
  docs/docs.json
Owners: @philippemnoel, @rebasedming, @stuhood

lint
  docs/deploy/self-hosted/logical-replication/getting-started.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix URL
  docs/docs.json
Owners: @philippemnoel, @rebasedming, @stuhood

Cherry-pick missing SQL upgrade scripts
  pg_search/sql/pg_search--0.18.11--0.18.12.sql
  pg_search/sql/pg_search--0.18.12--0.18.13.sql
  pg_search/sql/pg_search--0.18.13--0.19.0.sql
Owners: @rebasedming, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood
