Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

chore: `always()` print the Postgres logs in CI (#2657)
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

perf: improve INSERT/UPDATE perf with `SerialIndexWriter` (#2658)
  docs/documentation/configuration/write.mdx
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  tests/tests/aborted_xact.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: Ignore named tuple stores in qual extraction to fix use with `pg_ivm` (#2643)
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/var.rs
  tests/tests/ivm.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: always do pushdowns when we can (#2639)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
  pg_search/tests/pg_regress/sql/mixedff_advanced_03_limit_topn.sql
  tests/tests/pushdown.rs
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Clean up schema code (#2660)
  pg_search/src/api/index.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/fast_fields_helper.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/anyenum.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/document.rs
  pg_search/src/schema/mod.rs
  pg_search/src/schema/range.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
  tests/tests/bm25_search.rs
  tokenizers/src/lib.rs
  tokenizers/src/manager.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: update tantivy to latest revision (#2668)
  Cargo.lock
  Cargo.toml
Owners: none

feat: Support snippet generation for JSON (#2663)
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/var.rs
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/common/snippet_json_advanced_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_advanced_setup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_setup.sql
  pg_search/tests/pg_regress/expected/snippet_json_01_basic.out
  pg_search/tests/pg_regress/expected/snippet_json_02_advanced.out
  pg_search/tests/pg_regress/sql/snippet_json_01_basic.sql
  pg_search/tests/pg_regress/sql/snippet_json_02_advanced.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: `ambulkdelete` happens in the foreground, allowing us to remove all channels (#2664)
  Cargo.lock
  Cargo.toml
  pg_search/Cargo.toml
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/directory/mod.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/mod.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/mod.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/delete.rs
  tests/tests/replication.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: should be able to construct a `SearchField` for `ctid` (#2662)
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/find_ctid.out
  pg_search/tests/pg_regress/sql/find_ctid.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: fixed missing snippets in join (#2655)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/snippet_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: enable partial scoring for JOIN queries (#2661)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
  pg_search/tests/pg_regress/sql/score_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Configure `max_parallel_maintenance_workers` , add tiebreak query to benchmarks (#2670)
  .github/workflows/test-pg_search-benchmark.yml
  benchmarks/datasets/single/queries/pg_search/top_n.sql
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

chore: upgrade dependencies (#2669)
  Cargo.lock
  benchmarks/Cargo.toml
  pg_search/Cargo.toml
  tests/Cargo.toml
  tokenizers/Cargo.toml
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Do not re-execute the query if we have already reached the limit.
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Adjust Top-N query metrics and add failing test.
  pg_search/src/postgres/customscan/pdbscan/exec_methods.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  tests/tests/custom_scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Top-N Early Exit (#2675)
  pg_search/src/postgres/customscan/pdbscan/exec_methods.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  tests/tests/custom_scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: `always()` print the Postgres logs in CI (#2657)
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

feat: Ignore named tuple stores in qual extraction to fix use with `pg_ivm` (#2643)
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/var.rs
  tests/tests/ivm.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

ci: Rm Ubuntu 20.04 (#2656)
  .github/workflows/publish-pg_search-ubuntu.yml
Owners: @philippemnoel, @rebasedming

feat: true Postgres parallel index builds (#2647)
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/overview.mdx
  pg_search/src/api/aggregate.rs
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/parallel_worker/builder.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/tests/pg_regress/expected/mixedff_advanced_06_score_function.out
  pg_search/tests/pg_regress/sql/mixedff_advanced_06_score_function.sql
  tests/tests/aborted_xact.rs
  tests/tests/custom_scan.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: always do pushdowns when we can (#2639)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_03_limit_topn.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
  pg_search/tests/pg_regress/sql/mixedff_advanced_03_limit_topn.sql
  tests/tests/pushdown.rs
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: improve INSERT/UPDATE perf with `SerialIndexWriter` (#2658)
  docs/documentation/configuration/write.mdx
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  tests/tests/aborted_xact.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: `ambulkdelete` happens in the foreground, allowing us to remove all channels (#2664)
  Cargo.lock
  Cargo.toml
  pg_search/Cargo.toml
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/directory/mod.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/mod.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/mod.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/delete.rs
  tests/tests/replication.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Support snippet generation for JSON (#2663)
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/var.rs
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/common/snippet_json_advanced_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_advanced_setup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_setup.sql
  pg_search/tests/pg_regress/expected/snippet_json_01_basic.out
  pg_search/tests/pg_regress/expected/snippet_json_02_advanced.out
  pg_search/tests/pg_regress/sql/snippet_json_01_basic.sql
  pg_search/tests/pg_regress/sql/snippet_json_02_advanced.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: fixed missing snippets in join (#2655)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/snippet_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Clean up schema code (#2660)
  pg_search/src/api/index.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/fast_fields_helper.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/anyenum.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/document.rs
  pg_search/src/schema/mod.rs
  pg_search/src/schema/range.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
  tests/tests/bm25_search.rs
  tokenizers/src/lib.rs
  tokenizers/src/manager.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: should be able to construct a `SearchField` for `ctid` (#2662)
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/find_ctid.out
  pg_search/tests/pg_regress/sql/find_ctid.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: enable partial scoring for JOIN queries (#2661)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
  pg_search/tests/pg_regress/sql/score_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Configure `max_parallel_maintenance_workers` , add tiebreak query to benchmarks (#2670)
  .github/workflows/test-pg_search-benchmark.yml
  benchmarks/datasets/single/queries/pg_search/top_n.sql
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

chore: update tantivy to latest revision (#2668)
  Cargo.lock
  Cargo.toml
Owners: none

chore: upgrade dependencies (#2669)
  Cargo.lock
  benchmarks/Cargo.toml
  pg_search/Cargo.toml
  tests/Cargo.toml
  tokenizers/Cargo.toml
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Top-N Early Exit (#2675)
  pg_search/src/postgres/customscan/pdbscan/exec_methods.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  tests/tests/custom_scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Prepare 0.15.23 (#2673)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.23.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.22--0.15.23.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: `paradedb.exists` supports json subpaths (#2667)
  pg_search/src/query/mod.rs
  pg_search/tests/pg_regress/expected/exists_json.out
  pg_search/tests/pg_regress/sql/exists_json.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix compilation problems
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Prepare 0.15.24
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.24.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.23--0.15.24.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: Release 0.15.24 (#2679)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.24.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.23--0.15.24.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

Force release of main
  .github/workflows/publish-github-release.yml
  Cargo.lock
  Cargo.toml
  docs/changelog/0.15.25.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.24--0.15.25.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

Lint
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

test it
  .github/workflows/publish-github-release.yml
Owners: @philippemnoel, @rebasedming

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
