Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

Actually execute an aggregate.
  pg_search/src/aggregate/mod.rs
  pg_search/src/api/aggregate.rs
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
  pg_search/tests/pg_regress/expected/inet.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_01_aggregation.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/sql/inet.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs: indexes on expressions
  docs/documentation/indexing/create_index.mdx
Owners: @rebasedming, @stuhood

Link to new documentation section.
  docs/documentation/indexing/create_index.mdx
Owners: @rebasedming, @stuhood

feat: documentation for indexes on expressions (#2764)
  docs/documentation/indexing/create_index.mdx
Owners: @rebasedming, @stuhood

Applied PR comment.
  pg_search/src/api/aggregate.rs
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Applied PR comment.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Renamed to `HeapFilter`
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
  pg_search/src/query/mod.rs
  pg_search/tests/pg_regress/expected/issue_2745.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_07_recursive_cte.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed outdated comment.
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
  pg_search/tests/pg_regress/sql/score_non_indexed_predicates.sql
  pg_search/tests/pg_regress/sql/unified_expression_comprehensive.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

make layer sizes dynamic
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/merge_policy.rs
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

also launch bgmerger in vacuum
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

documentation + layer size test
  docs/documentation/configuration/segment_size.mdx
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/ps_status.rs
  tests/tests/layer_sizes.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

fix tests, tweak merge policy
  docs/documentation/configuration/segment_size.mdx
  pg_search/src/index/merge_policy.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/options.rs
  tests/tests/layered_merge.rs
  tests/tests/merge.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

update toml
  .github/stressgres/background-merge.toml
Owners: @philippemnoel, @rebasedming

merging in bgworker
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

move vacuum xid code earlier
  pg_search/src/postgres/merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove unused code
  .github/stressgres/background-merge.toml
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/merge_policy.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/metadata.rs
  tests/tests/layered_merge.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

wip
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

simplify merge logic
  pg_search/src/postgres/merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

wip
  .github/stressgres/multi-index.toml
  pg_search/src/postgres/merge.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

expose only do_merge
  .github/stressgres/background-merge.toml
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/vacuum.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

comments
  pg_search/src/postgres/merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clippy
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/postgres/merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

move all merging to background
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clean up toml
  .github/stressgres/background-merge.toml
Owners: @philippemnoel, @rebasedming

pass dbname to worker
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add stressgres wip
  .github/stressgres/multi-index.toml
Owners: @philippemnoel, @rebasedming

lower threshold to 10mb
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

only merge big layers in background
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

scaffolding for launching bgworker
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

undo vacuum.rs changes
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

make background merge disable-able
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add background merge stressgres to CI
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

dont launch bgworker unless necessary
  pg_search/src/index/merge_policy.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix unit test
  pg_search/src/postgres/merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed a comment.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed bool constant
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Refactor.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clippy
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

no longer need BufferMutVec
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti
