Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

Implement aggregate custom scan:
  benchmarks/datasets/single/queries/pg_search/count-filter.sql
  benchmarks/datasets/single/queries/pg_search/count-nofilter.sql
  benchmarks/src/main.rs
  pg_search/src/aggregate/mod.rs
  pg_search/src/api/aggregate.rs
  pg_search/src/gucs.rs
  pg_search/src/lib.rs
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/builders/custom_scan.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/range_table.rs
  pg_search/src/postgres/mod.rs
  tests/tests/aggregate_custom_scan.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Re-enable subqueries with UUIDs.
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Added two more queries.
  benchmarks/datasets/join/queries/pg_search/join_perf.sql
  benchmarks/src/join_perf.rs
Owners: @philippemnoel, @rebasedming

Run with an arbitrary set of Gucs, rather than always with the same fixed set.
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/qgen.rs
  tests/tests/scalar_array_pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Have the `generated_single_relation` test generate `COUNT(*)` as part of its target list.
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Make alter extension workflow properly checkout branch
  .github/workflows/test-pg_search-upgrade.yml
  Cargo.lock
  Cargo.toml
  pg_search/sql/pg_search--0.16.3--0.16.4.sql
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

First attempt at continuous benchmarking
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Individual runs
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Make the benchmark way faster
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Fix python shell
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Test push
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

post comment
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Remove unnecessary code
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Remove outdated logic from two-branch system
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

ci: Make alter extension workflow properly checkout branch (#2791)
  .github/workflows/test-pg_search-upgrade.yml
  Cargo.lock
  Cargo.toml
  pg_search/sql/pg_search--0.16.3--0.16.4.sql
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix missing stopwords in jieba tokenizer
  tokenizers/src/manager.rs
Owners: @rebasedming, @eeeebbbbrrrr

Add to Stressgres too
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Fix folder
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Don't scream in Slack while we test, fix Git shenanigans
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Update test-pg_search-stressgres.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

address code review
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/linked_items.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/metadata.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Don't spam Docker Scout on PRs not modifying /docker
  .github/workflows/test-pg_search-docker.yml
Owners: @philippemnoel, @rebasedming

Error schemabot workflow for external contributors, and rename to SchemaBot
  .github/workflows/check-pg_search-schema-upgrade.yml
Owners: @philippemnoel, @rebasedming

ci: Post "One-branch Release Model" Improvements (#2792)
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/test-pg_search-docker.yml
Owners: @philippemnoel, @rebasedming

print query plan
  benchmarks/src/join_perf.rs
Owners: @philippemnoel, @rebasedming

Fix Slack messages, use the benchmark job's JSON output, and parse stressgres's output.
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Remove unnecessary copy.
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

ci: Add support for continuous benchmarking (#2780)
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

rename function and add comments per code review
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/merge.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Label all queries other than the first in a query file as "alternatives".
  benchmarks/README.md
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

Add the join benchmark to the CI job, and fix `join` queries for the "alternatives" pattern.
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
  benchmarks/datasets/join/queries/pg_search/hierarchical_content-no-scores-large.sql
  benchmarks/datasets/join/queries/pg_search/hierarchical_content-no-scores-small.sql
  benchmarks/datasets/join/queries/pg_search/hierarchical_content-scores-large.sql
  benchmarks/datasets/join/queries/pg_search/hierarchical_content-scores-small.sql
  benchmarks/datasets/join/queries/pg_search/line_items-distinct.sql
Owners: @philippemnoel, @rebasedming

Adjust to default tokenizer and increase row count.
  .github/workflows/test-pg_search-benchmark.yml
  benchmarks/datasets/join/create_index/pg_search.sql
Owners: @philippemnoel, @rebasedming

chore: Add the `join` dataset to continuous benchmarks, and fix alternative queries (#2794)
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
  benchmarks/README.md
  benchmarks/datasets/join/create_index/pg_search.sql
  benchmarks/datasets/join/queries/pg_search/hierarchical_content-no-scores-large.sql
  benchmarks/datasets/join/queries/pg_search/hierarchical_content-no-scores-small.sql
  benchmarks/datasets/join/queries/pg_search/hierarchical_content-scores-large.sql
  benchmarks/datasets/join/queries/pg_search/hierarchical_content-scores-small.sql
  benchmarks/datasets/join/queries/pg_search/line_items-distinct.sql
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

Increase run count to try and reduce noise.
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

chore: Increase benchmark run count to reduce noise. (#2795)
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

Fix unit for average runtime.
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance (customSmallerIsBetter) benchmark result for 35abeff494503653aeca1073004f5e0cfd89e115
  stressgres/data.js
  stressgres/index.html
Owners: none

add pg_search single-server.toml Performance (customSmallerIsBetter) benchmark result for 35abeff494503653aeca1073004f5e0cfd89e115
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance (customSmallerIsBetter) benchmark result for 35abeff494503653aeca1073004f5e0cfd89e115
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance (customSmallerIsBetter) benchmark result for f705fe04e1169e06a55144583346354b7d4dc6be
  stressgres/data.js
Owners: none
