Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

progress
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/external_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - OR works
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/external_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: `keyword` text fields should always be fast (#2735)
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/keyword_defaults_fast.out
  pg_search/tests/pg_regress/sql/keyword_defaults_fast.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - crash resolved
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

uuid defaults to fast
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/keyword_defaults_fast.out
  pg_search/tests/pg_regress/sql/keyword_defaults_fast.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/external_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

uuid defaults to fast
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/keyword_defaults_fast.out
  pg_search/tests/pg_regress/sql/keyword_defaults_fast.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: uuid fields default to `fast` and `keyword` (#2736)
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/keyword_defaults_fast.out
  pg_search/tests/pg_regress/sql/keyword_defaults_fast.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/external_filter.rs
  pg_search/src/query/field_filter.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/simple_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: uuid fields default to `fast` and `keyword` (#2736)
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/keyword_defaults_fast.out
  pg_search/tests/pg_regress/sql/keyword_defaults_fast.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Added inet type support (#2666)
  pg_search/sql/pg_search--0.16.0--0.16.1.sql
  pg_search/src/api/builder_fns.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/types.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/expected/inet.out
  pg_search/tests/pg_regress/sql/inet.sql
  tests/tests/key.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

test: Ignore `generated_joins_large_limit` for now. (#2734)
  tests/tests/qgen.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: `keyword` text fields should always be fast (#2735)
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/keyword_defaults_fast.out
  pg_search/tests/pg_regress/sql/keyword_defaults_fast.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

- fix bugs in tests where queries were being reused as prepared statements - fix bug where `<>` didn't account for NULLs properly via tantivy's `ExistsQuery` - other cleanups
  pg_search/src/api/builder_fns.rs
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
  tests/tests/fixtures/db.rs
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/scalar_array_pushdown.proptest-regressions
  tests/tests/scalar_array_pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

update upgrade script
  pg_search/sql/pg_search--0.16.0--0.16.1.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - simple field
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/external_filter.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/simple_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Push down operators over scalar arrays (#2730)
  pg_search/sql/pg_search--0.16.0--0.16.1.sql
  pg_search/src/api/builder_fns.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/opexpr.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
  pg_search/tests/pg_regress/sql/pushdown_scalar_array_opexr.sql
  tests/tests/fixtures/db.rs
  tests/tests/fixtures/querygen/mod.rs
  tests/tests/fixtures/querygen/opexprgen.rs
  tests/tests/qgen.rs
  tests/tests/scalar_array_pushdown.proptest-regressions
  tests/tests/scalar_array_pushdown.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - simple field
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/external_filter.rs
  pg_search/src/query/simple_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Added debug logging
  pg_search/src/postgres/customscan/debug.rs
  pg_search/src/postgres/customscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Added tests.
  pg_search/tests/pg_regress/sql/score_non_indexed_predicates.sql
  pg_search/tests/pg_regress/sql/unified_expression_comprehensive.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Updated test expected outputs + nitz
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/setup.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
  pg_search/tests/pg_regress/sql/setup.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

phase 1: core heap filter
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/query/heap_field_filter.rs
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

phase 2: query analysis and qual extraction
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

phase 3: custom scan integration
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration: numeric comp
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration: handled = true
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration: fixed filter
  pg_search/src/query/heap_field_filter.rs
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration: improved scorer iter
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration: off-by-one error
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration: avoided using current_doc
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - fixed integration: added more funcs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: add `target_segment_count` as an index `WITH` option
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove the paradedb.target_segment_count GUC
  docs/docs.json
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/segment_count.mdx
  pg_search/src/gucs.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/options.rs
  pg_search/tests/pg_regress/expected/parallel_build_empty.out
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/expected/parallel_build_small.out
  pg_search/tests/pg_regress/sql/parallel_build_empty.sql
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
  pg_search/tests/pg_regress/sql/parallel_build_small.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: add `target_segment_count` as an index `WITH` option (#2737)
  docs/docs.json
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/segment_count.mdx
  pg_search/src/gucs.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/options.rs
  pg_search/tests/pg_regress/expected/parallel_build_empty.out
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/expected/parallel_build_small.out
  pg_search/tests/pg_regress/sql/parallel_build_empty.sql
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
  pg_search/tests/pg_regress/sql/parallel_build_small.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

chore: update to latest tantivy rev
  Cargo.lock
  Cargo.toml
  pg_search/src/query/score.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: update to latest tantivy rev (#2738)
  Cargo.lock
  Cargo.toml
  pg_search/src/query/score.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Update to rust `1.88.0`
  rust-toolchain.toml
Owners: none

progress - more broad expression eval support
  pg_search/src/postgres/customscan/pdbscan/heap_expr.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti
