Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 1bba673712ea22445d17940ed2a8a7191c27a40e
  stressgres/data.js
Owners: none

chore: Prepare `0.18.15`. (#3437)
  docs/changelog/0.18.15.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.18.14--0.18.15.sql
  pg_search/sql/pg_search--0.18.15--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

chore: Prepare `0.18.15`. (#3437)
  docs/changelog/0.18.15.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.18.14--0.18.15.sql
  pg_search/sql/pg_search--0.18.15--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

chore: Prepare `0.18.15`. (#3437)
  docs/changelog/0.18.15.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.18.14--0.18.15.sql
  pg_search/sql/pg_search--0.18.15--0.19.0.sql
Owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 57a4340e4213e9d2a3c1dfdfb33baac3c37c87df
  stressgres/data.js
Owners: none

Used pgrx for pdb.agg
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
  pg_search/src/api/aggregate.rs
  pg_search/src/lib.rs
Owners: @rebasedming, @stuhood, @mdashti

Renmed window_func to window_agg
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
  pg_search/src/api/aggregate.rs
  pg_search/src/api/mod.rs
  pg_search/src/api/window_aggregate.rs
  pg_search/src/lib.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
  pg_search/tests/pg_regress/expected/custom-agg.out
  pg_search/tests/pg_regress/expected/topn-agg-facet.out
  tests/tests/fast_fields.rs
Owners: @rebasedming, @stuhood, @mdashti

Hanlde pdb.agg
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/tests/pg_regress/expected/custom-agg.out
  pg_search/tests/pg_regress/sql/custom-agg.sql
Owners: @rebasedming, @stuhood, @mdashti

Added comments.
  pg_search/src/postgres/customscan/hook.rs
Owners: @rebasedming, @stuhood, @mdashti

push down numeric
  pg_search/src/postgres/customscan/opexpr.rs
  pg_search/src/postgres/customscan/pushdown.rs
  pg_search/tests/pg_regress/sql/pushdown_numeric.sql
Owners: @rebasedming, @stuhood, @mdashti

regress
  pg_search/src/postgres/customscan/pushdown.rs
  pg_search/tests/pg_regress/expected/pushdown_numeric.out
  pg_search/tests/pg_regress/sql/pushdown_numeric.sql
Owners: @rebasedming, @stuhood, @mdashti

0.18.15
  Cargo.lock
  Cargo.toml
Owners: none

fix: JSON numeric type matching and query parameter precision
  pg_search/src/postgres/types.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/pdb_query.rs
  pg_search/tests/pg_regress/expected/groupby-agg-filter.out
  pg_search/tests/pg_regress/expected/pushdown_numeric.out
  pg_search/tests/pg_regress/expected/view-support.out
  pg_search/tests/pg_regress/sql/pushdown_numeric.sql
Owners: @rebasedming, @stuhood, @mdashti

chore: Bump `cargo.toml` to `0.18.15` (#3440)
  Cargo.lock
  Cargo.toml
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 6a03c15196cec36169f91e94559628902309f349
  stressgres/data.js
Owners: none

fix permissions for index_layer-info
  pg_search/sql/pg_search--0.19.2--0.19.3.sql
Owners: @rebasedming, @stuhood, @mdashti

Replaced AggregationSpec with TargetList
  pg_search/src/postgres/customscan/agg.rs
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/targetlist.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
  pg_search/tests/pg_regress/expected/custom-agg.out
  pg_search/tests/pg_regress/expected/topn-agg-facet.out
Owners: @rebasedming, @stuhood, @mdashti

Fixed upggrade script
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
  pg_search/sql/pg_search--0.19.2--0.19.3.sql
Owners: @rebasedming, @stuhood, @mdashti

Fixed the upgrade script
  pg_search/sql/pg_search--0.19.2--0.19.3.sql
Owners: @rebasedming, @stuhood, @mdashti

simplified
  pg_search/src/postgres/customscan/aggregatescan/aggregate_type.rs
  pg_search/src/postgres/customscan/aggregatescan/scan_state.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
Owners: @rebasedming, @stuhood, @mdashti

permissions where recreation happens
  pg_search/sql/pg_search--0.18.15--0.19.0.sql
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
  pg_search/sql/pg_search--0.19.2--0.19.3.sql
Owners: @rebasedming, @stuhood, @mdashti

Update pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
Owners: @rebasedming, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood
