Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

fix: Allow UUID columns to be used in fast field execution (#2707)
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/options.rs
  pg_search/tests/pg_regress/expected/mixedff_basic_05_uuid.out
  pg_search/tests/pg_regress/sql/mixedff_basic_05_uuid.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: fixed missing snippets in join (#2655)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/snippet_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: Small cleanup of outdated files (#2696)
  .github/dependabot.yml
  .gitignore
  install.sh
Owners: @philippemnoel, @rebasedming

chore: suffix process title in `ps`/`top` during parallel index build (#2712)
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/ps_status.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: `CREATE INDEX`/`REINDEX` exactly targets the CPU count by efficiently merging (#2681)
  Cargo.lock
  Cargo.toml
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/segment_size.mdx
  docs/documentation/configuration/write.mdx
  docs/documentation/indexing/create_index.mdx
  pg_search/src/gucs.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/tests/pg_regress/common/parallel_build_large_cleanup.sql
  pg_search/tests/pg_regress/common/parallel_build_large_setup.sql
  pg_search/tests/pg_regress/common/parallel_build_small_cleanup.sql
  pg_search/tests/pg_regress/common/parallel_build_small_setup.sql
  pg_search/tests/pg_regress/expected/parallel_build_empty.out
  pg_search/tests/pg_regress/expected/parallel_build_large.out
  pg_search/tests/pg_regress/expected/parallel_build_small.out
  pg_search/tests/pg_regress/sql/parallel_build_empty.sql
  pg_search/tests/pg_regress/sql/parallel_build_large.sql
  pg_search/tests/pg_regress/sql/parallel_build_small.sql
  tests/tests/cleanup.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

fix: enable partial scoring for JOIN queries (#2661)
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/issue_2533.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/expected/snippet_join_predicates.out
  pg_search/tests/pg_regress/sql/issue_2533.sql
  pg_search/tests/pg_regress/sql/score_join_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs: bring back search bar (#2690)
  docs/override.js
  docs/style.css
Owners: @rebasedming, @stuhood

chore: Clean up schema code (#2660)
  pg_search/src/api/index.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/fast_fields_helper.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/pushdown.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/anyenum.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/document.rs
  pg_search/src/schema/mod.rs
  pg_search/src/schema/range.rs
  pg_search/tests/pg_regress/expected/fast_fields_options.out
  tests/tests/bm25_search.rs
  tokenizers/src/lib.rs
  tokenizers/src/manager.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: true Postgres parallel index builds (#2647)
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/overview.mdx
  pg_search/src/api/aggregate.rs
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/parallel_worker/builder.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/tests/pg_regress/expected/mixedff_advanced_06_score_function.out
  pg_search/tests/pg_regress/sql/mixedff_advanced_06_score_function.sql
  tests/tests/aborted_xact.rs
  tests/tests/custom_scan.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

chore: upgrade dependencies (#2669)
  Cargo.lock
  benchmarks/Cargo.toml
  pg_search/Cargo.toml
  tests/Cargo.toml
  tokenizers/Cargo.toml
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: sort segments by num docs for parallel workers (#2698)
  pg_search/src/postgres/customscan/pdbscan/parallel.rs
  pg_search/src/postgres/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs: Clarify message for enterprise (#2693)
  docs/deploy/enterprise.mdx
Owners: @rebasedming, @stuhood

fix: make incorrect configs not error (#2713)
  pg_search/src/schema/config.rs
  pg_search/tests/pg_regress/expected/misconfigured_configs.out
  pg_search/tests/pg_regress/sql/misconfigured_configs.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix: writer doesn't crash on abort (#2718)
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

perf: Batch field lookups in MVCC-aware aggregates (#2714)
  pg_search/src/api/aggregate.rs
  pg_search/src/index/fast_fields_helper.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs: Add topology (#2701)
  docs/deploy/byoc.mdx
  docs/images/high-availability.png
  docs/images/topology.png
Owners: @rebasedming, @stuhood

perf: improve INSERT/UPDATE perf with `SerialIndexWriter` (#2658)
  docs/documentation/configuration/write.mdx
  pg_search/src/gucs.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  tests/tests/aborted_xact.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

feat: Bring back Stu's PR in dev for Top N (#2682)
  pg_search/src/postgres/customscan/pdbscan/exec_methods.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  tests/tests/custom_scan.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: Support snippet generation for JSON (#2663)
  Cargo.lock
  Cargo.toml
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/var.rs
  pg_search/src/schema/mod.rs
  pg_search/tests/pg_regress/common/snippet_json_advanced_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_advanced_setup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_cleanup.sql
  pg_search/tests/pg_regress/common/snippet_json_basic_setup.sql
  pg_search/tests/pg_regress/expected/snippet_json_01_basic.out
  pg_search/tests/pg_regress/expected/snippet_json_02_advanced.out
  pg_search/tests/pg_regress/sql/snippet_json_01_basic.sql
  pg_search/tests/pg_regress/sql/snippet_json_02_advanced.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

upgrade to 0.16.0
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.0.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.26--0.16.0.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

chore: Upgrade to `0.16.0` (#2720)
  Cargo.lock
  Cargo.toml
  docs/changelog/0.16.0.mdx
  docs/deploy/self-hosted/extension.mdx
  docs/deploy/upgrading.mdx
  docs/docs.json
  pg_search/sql/pg_search--0.15.26--0.16.0.sql
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

Split files so that each file contains only ~equivalent queries.
  benchmarks/datasets/single/queries/pg_search/bucket-numeric-filter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-numeric-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-string-filter.sql
  benchmarks/datasets/single/queries/pg_search/bucket-string-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/bucket.sql
  benchmarks/datasets/single/queries/pg_search/count-filter.sql
  benchmarks/datasets/single/queries/pg_search/count-nofilter.sql
  benchmarks/datasets/single/queries/pg_search/count.sql
  benchmarks/datasets/single/queries/pg_search/filtered-highcard.sql
  benchmarks/datasets/single/queries/pg_search/filtered-lowcard.sql
  benchmarks/datasets/single/queries/pg_search/top_n-compound.sql
  benchmarks/datasets/single/queries/pg_search/top_n-numeric-highcard.sql
  benchmarks/datasets/single/queries/pg_search/top_n-numeric-lowcard.sql
  benchmarks/datasets/single/queries/pg_search/top_n-string.sql
  benchmarks/datasets/single/queries/pg_search/top_n.sql
Owners: @philippemnoel, @rebasedming

progress: compositional eval - fixed pg expr handling
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - fixed pg expr eval
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: better debugging
  pg_search/src/postgres/customscan/debug.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - fixed score
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Move to Eric and Stu's proposed release flow
  .github/workflows/publish-github-release.yml
  RELEASE.md
Owners: @philippemnoel, @rebasedming

Cleanup the RELEASE.md file
  RELEASE.md
Owners: none

progress: compositional eval - fixed null test
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - fixed generic expression eval
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
  pg_search/src/postgres/customscan/pdbscan/unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - v2
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress: compositional eval - optimized expr - v3
  pg_search/src/postgres/customscan/pdbscan/optimized_unified_evaluator.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: avoid re-opening relations
  pg_search/src/api/aggregate.rs
  pg_search/src/api/builder_fns.rs
  pg_search/src/api/mod.rs
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/reader/segment_component.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/numeric.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/expression.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/linked_items.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/utils.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/postgres/visibility_checker.rs
  pg_search/src/query/more_like_this.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup
  pg_search/src/postgres/rel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix compilation on pg14
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/storage/linked_items.rs
  pg_search/src/postgres/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup
  pg_search/src/postgres/rel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup use statements
  pg_search/src/api/operator.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/reader/segment_component.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/linked_items.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/utils.rs
  pg_search/src/postgres/visibility_checker.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cargo clippy --fix
  pg_search/src/api/aggregate.rs
  pg_search/src/api/mod.rs
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/reader/segment_component.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/rel.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/linked_items.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/utils.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/postgres/visibility_checker.rs
  pg_search/src/query/more_like_this.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti
