Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

perf: Optimize `TermSet` for very large sets of terms. (#3412) (#3420)
  Cargo.lock
  Cargo.toml
  pg_search/src/api/builder_fns/pdb.rs
  pg_search/src/api/mod.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/pdb_query.rs
  pg_search/tests/pg_regress/expected/term_set_agg.out
Owners: @rebasedming, @stuhood, @mdashti

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 548be62f0752d0199602e4c04fcc27f786d76251
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 9a761a834df702566406098ce2492565537f590d
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 7512ced1181501aa509826cbc60a0b3a31bf4106
  stressgres/data.js
Owners: none

fix fsm double add
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @rebasedming, @stuhood, @mdashti

feedback
  pg_search/src/postgres/storage/linked_items.rs
Owners: @rebasedming, @stuhood, @mdashti

fix: FSM double-add/undefined behavior issues (#3426)
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @rebasedming, @stuhood, @mdashti

fix: FSM double-add/undefined behavior issues (#3426)
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
  pg_search/src/postgres/storage/linked_items.rs
Owners: @rebasedming, @stuhood, @mdashti

changelog
  docs/changelog/0.19.2.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

docs: Update `0.19.2` changelog (#3428)
  docs/changelog/0.19.2.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

Fix canonical links in v2 docs
  docs/v2/full-text/fuzzy.mdx
  docs/v2/full-text/highlight.mdx
  docs/v2/full-text/match.mdx
  docs/v2/full-text/term.mdx
  docs/v2/query-builder/json.mdx
  docs/v2/query-builder/match.mdx
  docs/v2/query-builder/overview.mdx
  docs/v2/query-builder/phrase/phrase.mdx
  docs/v2/query-builder/phrase/phrase_prefix.mdx
  docs/v2/query-builder/phrase/regex_phrase.mdx
  docs/v2/query-builder/term/exists.mdx
  docs/v2/query-builder/term/fuzzy_term.mdx
  docs/v2/query-builder/term/range.mdx
  docs/v2/query-builder/term/range_term.mdx
  docs/v2/query-builder/term/regex.mdx
  docs/v2/query-builder/term/term.mdx
  docs/v2/query-builder/term/term_set.mdx
  docs/v2/sorting/boost.mdx
  docs/v2/sorting/score.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Done switch underscores to URLs
  .github/workflows/test-docs.yml
  docs/changelog/0.19.0.mdx
  docs/docs.json
  docs/v2/token-filters/alphanumeric.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood
