Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

Fixed merge issues.
  pg_search/src/postgres/customscan/agg.rs
  pg_search/src/postgres/customscan/aggregatescan/aggregate_type.rs
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/privdat.rs
  pg_search/src/postgres/customscan/aggregatescan/scan_state.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
  pg_search/tests/pg_regress/expected/custom-agg.out
  pg_search/tests/pg_regress/expected/topn-agg-facet.out
Owners: @rebasedming, @stuhood, @mdashti

Fixed schema change.
  pg_search/sql/pg_search--0.18.13--0.19.0.sql
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
  pg_search/src/lib.rs
Owners: @rebasedming, @stuhood, @mdashti

feat: Introduce `pdb.index_layer_info`, which shows both foreground and background layers (#3397)
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
  pg_search/src/api/admin.rs
  pg_search/tests/pg_regress/expected/index_layer_info.out
  pg_search/tests/pg_regress/sql/index_layer_info.sql
Owners: @rebasedming, @stuhood, @mdashti

feat: Introduce `pdb.index_layer_info`, which shows both foreground and background layers (#3397)
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
  pg_search/src/api/admin.rs
  pg_search/tests/pg_regress/expected/index_layer_info.out
  pg_search/tests/pg_regress/sql/index_layer_info.sql
Owners: @rebasedming, @stuhood, @mdashti

Use smaller merge buffers.
  Cargo.lock
  Cargo.toml
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - TPS (customBiggerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 418751ab697d127b86edade6c1ecf380f3429e51
  stressgres/data.js
Owners: none

Stabilize.
  Cargo.lock
  Cargo.toml
Owners: none

chore: Use smaller merge buffers. (#3399)
  Cargo.lock
  Cargo.toml
Owners: none

chore: Use smaller merge buffers. (#3399)
  Cargo.lock
  Cargo.toml
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - TPS (customBiggerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 85a6e0ae4ca4872c3a3340915e00463c5cac85d0
  stressgres/data.js
Owners: none

Added the upgrade commands.
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
Owners: @rebasedming, @stuhood, @mdashti

Fixed a syntax error in the migration file
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
Owners: @rebasedming, @stuhood, @mdashti

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  stressgres/data.js
Owners: none

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 099e0f54d32f9c2821764a75d6985d3f2f94a3d6
  stressgres/data.js
Owners: none

Fixed a naming error in the migration file
  pg_search/sql/pg_search--0.19.1--0.19.2.sql
Owners: @rebasedming, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood
