Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @eeeebbbbrrrr
/pg_search/                                                    @rebasedming @eeeebbbbrrrr
/tests/                                                        @rebasedming @eeeebbbbrrrr
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

update pgrx version in docs
  .github/workflows/test-pg_search-upgrade.yml
  pg_search/README.md
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr

Update test-pg_search-upgrade.yml
  .github/workflows/test-pg_search-upgrade.yml
Owners: @philippemnoel, @rebasedming

docs: Update `pgrx` version (#2243)
  pg_search/README.md
Owners: @rebasedming, @eeeebbbbrrrr

fix: transpose_cost_one param name
  docs/documentation/advanced/full-text/match.mdx
  docs/documentation/advanced/term/fuzzy_term.mdx
Owners: @rebasedming, @eeeebbbbrrrr

fix: transpose_cost_one param name (#2244)
  docs/documentation/advanced/full-text/match.mdx
  docs/documentation/advanced/term/fuzzy_term.mdx
Owners: @rebasedming, @eeeebbbbrrrr

convert benchmarks to rust
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  benchmarks/README.md
  benchmarks/benchmark.sh
  benchmarks/create_index/tuned_postgres.sql
  benchmarks/generate.sql
  benchmarks/index.sh
  benchmarks/prepare_table/pg_search.sql
  benchmarks/prepare_table/tuned_postgres.sql
  benchmarks/prewarm/pg_search.sql
  benchmarks/prewarm/tuned_postgres.sql
  benchmarks/queries/pg_search/bucket.sql
  benchmarks/queries/pg_search/count.sql
  benchmarks/queries/pg_search/date_histogram.sql
  benchmarks/queries/pg_search/filtering.sql
  benchmarks/queries/pg_search/highlighting.sql
  benchmarks/queries/pg_search/phrase.sql
  benchmarks/queries/pg_search/term.sql
  benchmarks/queries/pg_search/top_n.sql
  benchmarks/queries/tuned_postgres/bucket.sql
  benchmarks/queries/tuned_postgres/count.sql
  benchmarks/queries/tuned_postgres/date_histogram.sql
  benchmarks/queries/tuned_postgres/highlighting.sql
  benchmarks/queries/tuned_postgres/phrase.sql
  benchmarks/queries/tuned_postgres/term.sql
  benchmarks/queries/tuned_postgres/top_n.sql
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

wip
  benchmarks/benchmark.sh
  benchmarks/create_index/pg_search.sql
  benchmarks/create_index/tuned_postgres.sql
  benchmarks/index.sh
  benchmarks/prepare_table/pg_search.sql
  benchmarks/prepare_table/tuned_postgres.sql
  benchmarks/prewarm/pg_search.sql
  benchmarks/prewarm/tuned_postgres.sql
  benchmarks/queries/pg_search/bucket.sql
  benchmarks/queries/pg_search/cardinality.sql
  benchmarks/queries/pg_search/count.sql
  benchmarks/queries/pg_search/date_histogram.sql
  benchmarks/queries/pg_search/filtering.sql
  benchmarks/queries/pg_search/highlighting.sql
  benchmarks/queries/pg_search/json.sql
  benchmarks/queries/pg_search/phrase.sql
  benchmarks/queries/pg_search/term.sql
  benchmarks/queries/pg_search/top_n.sql
  benchmarks/queries/tuned_postgres/bucket.sql
  benchmarks/queries/tuned_postgres/cardinality.sql
  benchmarks/queries/tuned_postgres/count.sql
  benchmarks/queries/tuned_postgres/date_histogram.sql
  benchmarks/queries/tuned_postgres/filtering.sql
  benchmarks/queries/tuned_postgres/highlighting.sql
  benchmarks/queries/tuned_postgres/json.sql
  benchmarks/queries/tuned_postgres/phrase.sql
  benchmarks/queries/tuned_postgres/term.sql
  benchmarks/queries/tuned_postgres/top_n.sql
Owners: @philippemnoel, @rebasedming

new benchmarks
  benchmarks/README.md
  benchmarks/benchmark.sh
  benchmarks/create-table.sql
  benchmarks/create_index/pg_search.sql
  benchmarks/index.sh
  benchmarks/prepare_table/pg_search.sql
  benchmarks/prepare_table/tuned_postgres.sql
  benchmarks/prewarm/pg_search.sql
  benchmarks/prewarm/tuned_postgres.sql
  benchmarks/queries/pg_search/bucket.sql
  benchmarks/queries/pg_search/cardinality.sql
  benchmarks/queries/pg_search/count.sql
  benchmarks/queries/pg_search/date_histogram.sql
  benchmarks/queries/pg_search/highlighting.sql
  benchmarks/queries/pg_search/json.sql
  benchmarks/queries/pg_search/phrase.sql
  benchmarks/queries/pg_search/term.sql
  benchmarks/queries/pg_search/top_n.sql
  benchmarks/queries/tuned_postgres/bucket.sql
  benchmarks/queries/tuned_postgres/cardinality.sql
  benchmarks/queries/tuned_postgres/date_histogram.sql
  benchmarks/queries/tuned_postgres/filtering.sql
  benchmarks/queries/tuned_postgres/highlighting.sql
  benchmarks/queries/tuned_postgres/json.sql
  benchmarks/queries/tuned_postgres/phrase.sql
  benchmarks/queries/tuned_postgres/term.sql
  benchmarks/queries/tuned_postgres/top_n.sql
Owners: @philippemnoel, @rebasedming

clean up queries
  benchmarks/create_index/tuned_postgres.sql
  benchmarks/queries/pg_search/filtered.sql
  benchmarks/queries/pg_search/filtered_json.sql
  benchmarks/queries/pg_search/filtering.sql
  benchmarks/queries/pg_search/json.sql
  benchmarks/queries/tuned_postgres/filtered.sql
  benchmarks/queries/tuned_postgres/filtered_json.sql
  benchmarks/queries/tuned_postgres/filtering.sql
  benchmarks/queries/tuned_postgres/json.sql
Owners: @philippemnoel, @rebasedming

filtered uses pushdown
  benchmarks/create_index/tuned_postgres.sql
  benchmarks/queries/pg_search/filtered.sql
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

configure number of runs
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

pushdown on json query
  benchmarks/queries/pg_search/filtered_json.sql
Owners: @philippemnoel, @rebasedming

fix: error handling cleanup (#2240)
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/reader/channel.rs
Owners: @rebasedming, @eeeebbbbrrrr

feat: add a `paradedb.is_merging(index regclass)` UDF (#2238)
  docs/documentation/indexing/inspect_index.mdx
  pg_search/sql/pg_search--0.15.5--0.15.6.sql
  pg_search/src/bootstrap/create_bm25.rs
Owners: @rebasedming, @eeeebbbbrrrr

fix: schema upgrade scripts
  pg_search/sql/pg_search--0.15.2--0.15.3.sql
  pg_search/sql/pg_search--0.15.5--0.15.6.sql
Owners: @rebasedming, @eeeebbbbrrrr

fix: remove non-pg_search overhead from CI stressgres job
  .github/stressgres/single-server.toml
Owners: @philippemnoel, @rebasedming

re-run stressgres CI job when a stressgres toml file changes
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

fix: remove non-pg_search overhead from CI stressgres job (#2246)
  .github/stressgres/single-server.toml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

fix: schema upgrade scripts (#2245)
  pg_search/sql/pg_search--0.15.2--0.15.3.sql
  pg_search/sql/pg_search--0.15.5--0.15.6.sql
Owners: @rebasedming, @eeeebbbbrrrr

chore: centralize `MergeLock`-related code
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/merge_policy.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/storage/block.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr
