Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @stuhood, @mdashti

typo
  docs/changelog/deprecated.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix
  docs/changelog/0.14.0.mdx
  docs/changelog/deprecated.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Rm alt text, fix canonical check
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Missing changelog
  .github/workflows/test-docs.yml
  docs/changelog/0.18.14.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix broken links
  docs/docs.json
  docs/documentation/advanced/full-text/match.mdx
  docs/documentation/advanced/phrase/phrase-prefix.mdx
  docs/documentation/advanced/phrase/regex-phrase.mdx
  docs/documentation/aggregates/overview.mdx
  docs/documentation/full-text/highlighting.mdx
  docs/documentation/full-text/sorting.mdx
  docs/documentation/getting-started/quickstart.mdx
  docs/documentation/guides/autocomplete.mdx
  docs/documentation/guides/hybrid.mdx
  docs/documentation/indexing/token-filters.mdx
  docs/v2/full-text/highlight.mdx
  docs/v2/getting-started/quickstart.mdx
  docs/v2/query-builder/overview.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

fix path
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Some more small fixes
  docs/deploy/self-hosted/kubernetes.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Add a check in CI for improper technical SEO
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Fix broken links
  docs/documentation/getting-started/quickstart.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

More underscores as dashes
  docs/changelog/0.19.0.mdx
  docs/docs.json
  docs/documentation/advanced/json/overview.mdx
  docs/documentation/advanced/specialized/more-like-this.mdx
  docs/documentation/advanced/term/fuzzy-term.mdx
  docs/documentation/advanced/term/range-term.mdx
  docs/documentation/advanced/term/term-set.mdx
  docs/v2/full-text/term-set.mdx
  docs/v2/query-builder/term/fuzzy-term.mdx
  docs/v2/query-builder/term/range-term.mdx
  docs/v2/query-builder/term/term-set.mdx
  docs/v2/token-filters/alpha-numeric.mdx
  docs/v2/token-filters/ascii-folding.mdx
  docs/v2/token-filters/overview.mdx
  docs/v2/token-filters/token-length.mdx
  docs/v2/tokenizers/available-tokenizers/chinese-compatible.mdx
  docs/v2/tokenizers/available-tokenizers/jieba.mdx
  docs/v2/tokenizers/available-tokenizers/literal-normalized.mdx
  docs/v2/tokenizers/available-tokenizers/source-code.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix path, don't do documentation cuz we're on v2
  .github/workflows/test-docs.yml
  docs/deploy/ci/gitlab-ci.mdx
  docs/v2/sorting/boost.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix duplicate title tags
  docs/changelog/deprecated.mdx
  docs/deploy/overview.mdx
  docs/v2/aggregates/overview.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Finish URL as underscore fix
  .github/workflows/test-docs.yml
  docs/changelog/0.15.8.mdx
  docs/changelog/0.16.0.mdx
  docs/changelog/0.17.0.mdx
  docs/docs.json
  docs/documentation/advanced/compound/disjunction-max.mdx
  docs/documentation/advanced/json/range.mdx
  docs/documentation/advanced/term/exists.mdx
  docs/documentation/aggregates/bucket/terms.mdx
  docs/documentation/aggregates/metrics/average.mdx
  docs/documentation/aggregates/metrics/count.mdx
  docs/documentation/aggregates/metrics/minmax.mdx
  docs/documentation/aggregates/metrics/sum.mdx
  docs/documentation/aggregates/tantivy.mdx
  docs/documentation/aggregates/tuning.mdx
  docs/documentation/concepts/index.mdx
  docs/documentation/configuration/custom-scan.mdx
  docs/documentation/configuration/index-build.mdx
  docs/documentation/configuration/read-throughput.mdx
  docs/documentation/configuration/write-throughput.mdx
  docs/documentation/full-text/filtering.mdx
  docs/documentation/full-text/sorting.mdx
  docs/documentation/indexing/create-index.mdx
  docs/documentation/indexing/fast-fields.mdx
  docs/documentation/indexing/field-options.mdx
  docs/documentation/indexing/inspect-index.mdx
  docs/welcome/architecture.mdx
  docs/welcome/guarantees.mdx
  docs/welcome/introduction.mdx
  docs/welcome/limitations.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix tables
  docs/documentation/guides/autocomplete.mdx
  docs/documentation/guides/hybrid.mdx
  docs/v2/full-text/highlight.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Snapshot, fixed a few accidentally linted tables
  .github/workflows/test-docs.yml
  docs/changelog/0.16.0.mdx
  docs/deploy/self-hosted/kubernetes.mdx
  docs/documentation/advanced/phrase/phrase-prefix.mdx
  docs/documentation/advanced/phrase/regex-phrase.mdx
  docs/documentation/aggregates/overview.mdx
  docs/documentation/full-text/highlighting.mdx
  docs/documentation/full-text/sorting.mdx
  docs/documentation/getting-started/quickstart.mdx
  docs/documentation/indexing/field_options.mdx
  docs/v2/getting-started/quickstart.mdx
  docs/v2/query-builder/overview.mdx
  docs/v2/query-builder/phrase/phrase-prefix.mdx
  docs/v2/query-builder/phrase/regex-phrase.mdx
Owners: @philippemnoel, @rebasedming, @stuhood

Fix CI
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming, @stuhood

Fix unnecessary blog redirect
  docs/docs.json
Owners: @philippemnoel, @rebasedming, @stuhood

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - TPS (customBiggerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'logs' Query Performance (customSmallerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - TPS (customBiggerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - TPS (customBiggerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search logical-replication.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for d662164180928bf9d9723a1a1f919455cce18ac1
  stressgres/data.js
Owners: none

add pg_search 'docs' Query Performance (customSmallerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance - TPS (customBiggerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - TPS (customBiggerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  stressgres/data.js
Owners: none

add pg_search background-merge.toml Performance - Other Metrics (customSmallerIsBetter) benchmark result for 686c945bcc44f67a83bbde96ecb0842426bb15d9
  stressgres/data.js
Owners: none

move single-server.toml to separate CI job
  .github/workflows/test-pg_search-concurrency.yml
Owners: @philippemnoel, @rebasedming, @stuhood

10 min
  .github/workflows/test-pg_search-concurrency.yml
Owners: @philippemnoel, @rebasedming, @stuhood

run it
  .github/workflows/test-pg_search-concurrency.yml
Owners: @philippemnoel, @rebasedming, @stuhood

use UPPERREL_WINDOW stage: WIP
  pg_search/src/lib.rs
  pg_search/src/postgres/customscan/aggregatescan/aggregate_type.rs
  pg_search/src/postgres/customscan/aggregatescan/build.rs
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
  pg_search/src/postgres/customscan/aggregatescan/targetlist.rs
  pg_search/src/postgres/customscan/hook.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/projections/mod.rs
  pg_search/src/postgres/customscan/pdbscan/projections/window_agg.rs
  pg_search/src/postgres/customscan/windowscan/mod.rs
  pg_search/tests/pg_regress/expected/custom-agg.out
  pg_search/tests/pg_regress/expected/topn-agg-facet.out
Owners: @rebasedming, @stuhood, @mdashti

remove an incorrect comment
  pg_search/src/postgres/customscan/aggregatescan/mod.rs
Owners: @rebasedming, @stuhood, @mdashti

ignore changelog
  .github/workflows/test-docs.yml
Owners: @philippemnoel, @rebasedming, @stuhood

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming @stuhood
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @philippemnoel @rebasedming @stuhood
/pg_search/                                                    @rebasedming @stuhood @mdashti
/scripts/                                                      @philippemnoel @rebasedming @stuhood @mdashti
/tests/                                                        @rebasedming @stuhood @mdashti
/tokenizers/                                                   @rebasedming @stuhood
