Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

add pg_search wide-table.toml Performance (customSmallerIsBetter) benchmark result for f705fe04e1169e06a55144583346354b7d4dc6be
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance (customSmallerIsBetter) benchmark result for f705fe04e1169e06a55144583346354b7d4dc6be
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance (customSmallerIsBetter) benchmark result for aacc70839717a39422e23bbb0acf60b545dce3c7
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance (customSmallerIsBetter) benchmark result for aacc70839717a39422e23bbb0acf60b545dce3c7
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance (customSmallerIsBetter) benchmark result for aacc70839717a39422e23bbb0acf60b545dce3c7
  stressgres/data.js
Owners: none

add pg_search 'join' Query Performance (customSmallerIsBetter) benchmark result for 35abeff494503653aeca1073004f5e0cfd89e115
  benchmarks/data.js
  benchmarks/index.html
Owners: @philippemnoel, @rebasedming

add pg_search 'single' Query Performance (customSmallerIsBetter) benchmark result for 35abeff494503653aeca1073004f5e0cfd89e115
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search wide-table.toml Performance (customSmallerIsBetter) benchmark result for 477b540f6f4612a93c99de310be1dfb1a2907980
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance (customSmallerIsBetter) benchmark result for 477b540f6f4612a93c99de310be1dfb1a2907980
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance (customSmallerIsBetter) benchmark result for 477b540f6f4612a93c99de310be1dfb1a2907980
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance (customSmallerIsBetter) benchmark result for bd223ef432b268041498972567c6bcf079acba1f
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance (customSmallerIsBetter) benchmark result for bd223ef432b268041498972567c6bcf079acba1f
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance (customSmallerIsBetter) benchmark result for bd223ef432b268041498972567c6bcf079acba1f
  stressgres/data.js
Owners: none

add pg_search 'single' Query Performance (customSmallerIsBetter) benchmark result for f705fe04e1169e06a55144583346354b7d4dc6be
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'join' Query Performance (customSmallerIsBetter) benchmark result for f705fe04e1169e06a55144583346354b7d4dc6be
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'single' Query Performance (customSmallerIsBetter) benchmark result for aacc70839717a39422e23bbb0acf60b545dce3c7
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'join' Query Performance (customSmallerIsBetter) benchmark result for aacc70839717a39422e23bbb0acf60b545dce3c7
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'single' Query Performance (customSmallerIsBetter) benchmark result for 477b540f6f4612a93c99de310be1dfb1a2907980
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'join' Query Performance (customSmallerIsBetter) benchmark result for 477b540f6f4612a93c99de310be1dfb1a2907980
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'single' Query Performance (customSmallerIsBetter) benchmark result for bd223ef432b268041498972567c6bcf079acba1f
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'join' Query Performance (customSmallerIsBetter) benchmark result for bd223ef432b268041498972567c6bcf079acba1f
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

chore: Fix unit for average runtime in the benchmarks (#2796)
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

add pg_search single-server.toml Performance (customSmallerIsBetter) benchmark result for 53e70646d51fc7b4d04f9c5161c73f55c38331a6
  stressgres/data.js
Owners: none

add pg_search bulk-updates.toml Performance (customSmallerIsBetter) benchmark result for 53e70646d51fc7b4d04f9c5161c73f55c38331a6
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance (customSmallerIsBetter) benchmark result for 53e70646d51fc7b4d04f9c5161c73f55c38331a6
  stressgres/data.js
Owners: none

add pg_search 'single' Query Performance (customSmallerIsBetter) benchmark result for 53e70646d51fc7b4d04f9c5161c73f55c38331a6
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'join' Query Performance (customSmallerIsBetter) benchmark result for 53e70646d51fc7b4d04f9c5161c73f55c38331a6
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

fix: Add missing stopword filters to Jieba tokenizer (#2790)
  tokenizers/src/manager.rs
Owners: @rebasedming, @eeeebbbbrrrr

schema upgrade bits for proximity search
  pg_search/sql/pg_search--0.16.3--0.16.4.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add support for backfilling old commits with latest jobs
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming

Lint
  .github/workflows/test-pg_search-benchmark.yml
Owners: @philippemnoel, @rebasedming

fix upgrade script.
  pg_search/sql/pg_search--0.16.3--0.16.4.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: custom fsm (#2765)
  .github/stressgres/bulk-updates.toml
  Cargo.lock
  Cargo.toml
  pg_search/sql/pg_search--0.16.3--0.16.4.sql
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/segment_component.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/ps_status.rs
  pg_search/src/postgres/storage/block.rs
  pg_search/src/postgres/storage/blocklist.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/fsm.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/linked_items.rs
  pg_search/src/postgres/storage/merge.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add pg_search bulk-updates.toml Performance (customSmallerIsBetter) benchmark result for e350be5d171ddb28a700c02d8adc32a1a9f4b084
  stressgres/data.js
Owners: none

add pg_search wide-table.toml Performance (customSmallerIsBetter) benchmark result for e350be5d171ddb28a700c02d8adc32a1a9f4b084
  stressgres/data.js
Owners: none

add pg_search single-server.toml Performance (customSmallerIsBetter) benchmark result for e350be5d171ddb28a700c02d8adc32a1a9f4b084
  stressgres/data.js
Owners: none

add pg_search 'single' Query Performance (customSmallerIsBetter) benchmark result for e350be5d171ddb28a700c02d8adc32a1a9f4b084
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

add pg_search 'join' Query Performance (customSmallerIsBetter) benchmark result for e350be5d171ddb28a700c02d8adc32a1a9f4b084
  benchmarks/data.js
Owners: @philippemnoel, @rebasedming

chore: make benchmarks tolerant of rogue .psqlrc files
  benchmarks/src/main.rs
Owners: @philippemnoel, @rebasedming

address code review
  .github/workflows/test-pg_search-benchmark.yml
  .github/workflows/test-pg_search-stressgres.yml
Owners: @philippemnoel, @rebasedming
