Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr

Silence warning in `PostgresType` macro.
  Cargo.lock
  Cargo.toml
Owners: none

`cargo clippy --fix`
  benchmarks/src/main.rs
  benchmarks/src/micro_benchmarks/benchmark_data_setup.rs
  benchmarks/src/micro_benchmarks/fast_field_benchmarks.rs
  pg_search/src/api/operator.rs
  pg_search/src/bootstrap/test_table.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/merge_policy.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/parallel_worker/mod.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/storage/blocklist.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/types.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/query/mod.rs
  pg_search/src/query/range.rs
  pg_search/src/schema/mod.rs
  tests/tests/custom_scan.rs
  tests/tests/index_config.rs
  tests/tests/jieba.rs
  tests/tests/joins.rs
  tests/tests/key.rs
  tests/tests/layered_merge.rs
  tests/tests/mixed_fast_fields.rs
  tests/tests/mixed_fast_fields_benchmark.rs
  tests/tests/parallel.rs
  tests/tests/qgen.rs
  tests/tests/range_term.rs
  tests/tests/replication.rs
  tests/tests/scalar_array_pushdown.rs
  tests/tests/search_config.rs
  tests/tests/sorting.rs
Owners: @philippemnoel, @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Clean up https://rust-lang.github.io/rust-clippy/master/index.html#mut_from_ref
  pg_search/src/postgres/parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - more broad expression eval support - step2
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - broader expr support - step 3
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

progress - pg expr eval
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

`allow(for_loops_over_fallibles)`
  Cargo.lock
  Cargo.toml
  pg_search/src/api/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

updated tests and test results.
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
  pg_search/tests/pg_regress/sql/score_non_indexed_predicates.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

partial fix for bool handling.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2528.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_07_recursive_cte.out
  pg_search/tests/pg_regress/expected/mixedff_advanced_09_multi_index_search.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/pushdown_scalar_array_opexr.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

scaffolding for launching bgworker
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fixed all issues.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/issue_2528.out
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Removed debugging
  pg_search/src/postgres/customscan/debug.rs
  pg_search/src/postgres/customscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/heap_expr.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Fixed lint issues + nitz.
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

pass dbname to worker
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

merging in bgworker
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

push the number of heap tuples down into `SearchIndexReader::estimate_docs()`
  pg_search/src/api/operator.rs
  pg_search/src/index/reader/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

update to tantivy rev with lazily opening positions file
  Cargo.lock
  Cargo.toml
Owners: none

minor refactoring around `MVCCDirectory` construction.
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

optimize `SearchIndexReader::collect_segments()`
  pg_search/src/index/reader/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

change `SearchIndexReader` to require a query when constructed
  pg_search/src/api/aggregate.rs
  pg_search/src/api/builder_fns.rs
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mixed.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/numeric.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/string.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove the internal cache from `BM25BufferCache`
  pg_search/src/index/reader/segment_component.rs
  pg_search/src/postgres/storage/block.rs
  pg_search/src/postgres/storage/linked_bytes.rs
  pg_search/src/postgres/storage/utils.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Add a new `MvccSatisfies::LargestSegment` variant that only loads the largest segment, by num_docs
  pg_search/src/api/operator.rs
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/api/operator/text.rs
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add `MvccSatisfies::LargestSegment` variant
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/fast_fields/mod.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

code review
  pg_search/src/api/operator.rs
  pg_search/src/index/directory/mvcc.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

move all merging to background
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/merge.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

undo vacuum.rs changes
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

reverted an unexpected change + nitz.
  pg_search/src/postgres/customscan/pdbscan/heap_expr.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
  pg_search/src/query/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Used `PgSearchRelation` instead of `pg_sys::RelationIdGetRelation`
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/query/heap_field_filter.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

nitz.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fixed a logical bug.
  pg_search/src/postgres/customscan/pdbscan/qual_inspect.rs
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
  pg_search/tests/pg_regress/expected/unified_expression_comprehensive.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

pgrx v0.15.0 support
  Cargo.lock
  Cargo.toml
  pg_search/src/gucs.rs
  pg_search/src/postgres/ps_status.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

chore: upgrade to pgrx v0.15.0 (#2744)
  Cargo.lock
  Cargo.toml
  pg_search/src/gucs.rs
  pg_search/src/postgres/ps_status.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

resolve arrays wrapped as domain type
  pg_search/src/postgres/utils.rs
  pg_search/src/schema/mod.rs
  tests/tests/domain_type.rs
  tests/tests/qgen.proptest-regressions
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

refactor type resolution into a func
  pg_search/src/postgres/utils.rs
  pg_search/src/schema/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

feat: domain types + tests
  pg_search/src/postgres/utils.rs
  pg_search/src/schema/mod.rs
  tests/tests/domain_type.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti
