Repository paradedb/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @mdashti, @stuhood, @eeeebbbbrrrr

wip
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

refactor to using PendingSegment
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

write merging code for writer, not tested
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

compiles, now need to fix ram merge
  Cargo.lock
  Cargo.toml
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

working, but metas list not correct
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

segment metas fixed
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clean up logs
  pg_search/src/index/directory/utils.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

upstream tantivy
  Cargo.lock
  Cargo.toml
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

uses fsm
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clippy
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

bring back build_index returning segment ids
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

clean up merger
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

have writer store its metas
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

better reltuple estimate
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove as_any
  Cargo.lock
  Cargo.toml
  pg_search/src/index/directory/mvcc.rs
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove as_any
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

comments
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix heap relation tuple estimate
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

remove unnecessary comment
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

add comment
  pg_search/src/postgres/build_parallel.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

cleanup
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

tantivy rev
  Cargo.lock
  Cargo.toml
Owners: none

tantivy rev
  Cargo.toml
Owners: none

feat: Added inet type support
  pg_search/src/api/builder_fns.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/options.rs
  pg_search/src/postgres/types.rs
  pg_search/src/schema/config.rs
  pg_search/src/schema/mod.rs
  tests/tests/key.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

added migration script
  pg_search/sql/pg_search--0.15.25--0.15.26.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

test adjust work mem
  Cargo.lock
  pg_search/src/gucs.rs
  pg_search/src/index/search.rs
  pg_search/src/postgres/build_parallel.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

docs, use work_mem for statements
  docs/documentation/configuration/index.mdx
  docs/documentation/configuration/write.mdx
  docs/documentation/indexing/create_index.mdx
  pg_search/src/gucs.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @stuhood, @eeeebbbbrrrr, @mdashti

docs
  docs/documentation/configuration/write.mdx
Owners: @rebasedming, @stuhood

Used postgres deparsing code.
  pg_search/src/postgres/customscan/explainer.rs
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/src/postgres/customscan/pdbscan/privdat.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fixed migration script message
  pg_search/sql/pg_search--0.15.25--0.15.26.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

moved field to the struct's end
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

also finalize if num docs per segment has been reached
  pg_search/src/index/writer/index.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

regression test
  pg_search/tests/pg_regress/expected/inet.out
  pg_search/tests/pg_regress/sql/inet.sql
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Simplified the logic.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Let's not have a warning
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Made the output more deterministic.
  Cargo.lock
  pg_search/Cargo.toml
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/tests/pg_regress/expected/issue_2528.out
  pg_search/tests/pg_regress/expected/issue_2585.out
  pg_search/tests/pg_regress/expected/mixedff_queries_04_subquery.out
  pg_search/tests/pg_regress/expected/score_join_predicates.out
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

working on highlighting regex prox terms
  Cargo.lock
  Cargo.toml
  pg_search/src/query/proximity/mod.rs
  pg_search/src/query/proximity/query.rs
  pg_search/src/query/proximity/weight.rs
  pg_search/src/query/score.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

fix one test
  tests/tests/cleanup.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Removed our operator from heap filter.
  pg_search/src/postgres/customscan/pdbscan/mod.rs
  pg_search/tests/pg_regress/expected/score_non_indexed_predicates.out
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

Revert "Made the output more deterministic."
  Cargo.lock
  pg_search/Cargo.toml
  pg_search/src/postgres/customscan/pdbscan/mod.rs
Owners: @rebasedming, @eeeebbbbrrrr, @stuhood, @mdashti

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.cursor/                                                      @philippemnoel @mdashti
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @stuhood
/pg_search/                                                    @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/scripts/                                                      @philippemnoel @mdashti
/tests/                                                        @rebasedming @eeeebbbbrrrr @stuhood @mdashti
/tokenizers/                                                   @rebasedming @eeeebbbbrrrr
