Repository paradedb/paradedb, pull requests merged in 2024-09, with the labels that each got.

#1643 fix: Add missing `stemmer` and `lowercase` filters to `raw` and language tokenizers
  pg_search/tests/search_config.rs
  tokenizers/src/manager.rs
Labels: 🚨 BREAKING CHANGE

#1654 fix: segfault with fields of type '::json'
  pg_search/src/postgres/types.rs
  pg_search/tests/json.rs
Labels: bug, priority-high, pg_search

#1656 fix: guard against bgworker exiting and client backend crashing
  pg_search/src/env.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/writer/server.rs
  pg_search/src/writer/transfer.rs
  pg_search/tests/json.rs
Labels: bug, priority-high, pg_search

#1584 feat: #1569 -- better represent ctids as u64
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/utils.rs
Labels: 🚨 BREAKING CHANGE

#1709 feat: support Index Only Scans
  pg_search/src/api/search.rs
  pg_search/src/index/state.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/types.rs
  pg_search/tests/index_only_scan.rs
Labels: feature, pg_search
